{% extends 'admin/admin_layout.html' %}
{% load static i18n crispy_forms_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'admin/css/custom_delete_checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.css' %}">
    <style>
        .hidden {
            display: none;
        }
    </style>
    <!-- for make bootstrapped checkboxes group inline -->
    <link rel="stylesheet" href="{% static 'admin/css/checkbox-list-inline.css' %}">
{% endblock %}

{% block news %}
    active
{% endblock %}

{% block current_page %}
    {% trans 'News card' %}
{% endblock %}

{% block path %}
    <li class="breadcrumb-item"><a href="{% url 'admin:news' %}">{% trans 'News' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'News card' %}</li>
    <li class="breadcrumb-item active">{{ pk }}</li>
{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" class="mx-5 mt-4">
        <div class="col-11 card card-primary card-outline card-outline-tabs pb-5 mx-auto">
            {% csrf_token %}
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% with card.form as form %}
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="{{ form.prefix }}-language-tabs">
                        {% for language in languages %}
                            <li class="nav-item">
                                <a class="nav-link {% if LANGUAGE_CODE == language.code %}active{% endif %}" data-toggle="pill" href=""
                                   id="{{ form.prefix }}--{{ language.code }}">
                                    {{ language.name_translated }}
                                </a>
                            </li>
                        {% endfor %}
                        <div class="custom-control custom-switch ml-auto mt-1">
                            {{ form.is_active }}
                            <label for="{{ form.is_active.id_for_label }}" class="custom-control-label" style="transform: scale(1.5)"></label>
                        </div>
                    </ul>
                </div>
                <div class="card-body" id="released-movies-list">
                    <div class="row justify-content-between">
                        <div class="col-5 p-0">
                            <span class="modeltranslation-{{ form.prefix }}--en">
                                {{ form.title_en|as_crispy_field }}
                            </span>
                            <span class="modeltranslation-{{ form.prefix }}--ru">
                                {{ form.title_ru|as_crispy_field }}
                            </span>
                            <span class="modeltranslation-{{ form.prefix }}--uk">
                                {{ form.title_uk|as_crispy_field }}
                            </span>
                        </div>
                        <div class="col-3 p-0">
                            {{ form.publication_date|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-5 p-0">
                        <span class="modeltranslation-{{ form.prefix }}--en">
                            {{ form.description_en|as_crispy_field }}
                        </span>
                        <span class="modeltranslation-{{ form.prefix }}--ru">
                            {{ form.description_ru|as_crispy_field }}
                        </span>
                        <span class="modeltranslation-{{ form.prefix }}--uk">
                            {{ form.description_uk|as_crispy_field }}
                        </span>
                    </div>

                    <div class="col-md-4 col-lg-5 card px-0 mt-5 mx-auto mb-5">
                        <div class="card-header">
                            <p id="{{ form.main_image.id_for_label }}-required_size"></p>
                        </div>
                        <div>
                            <span class="modeltranslation-{{ form.prefix }}--en">
                                <img id="{{ form.main_image_en.id_for_label }}-thumbnail" class="card-img-top" src="{% if form.instance.main_image_en %}{{ form.instance.main_image_en.url }}{% endif %}" alt="">
                            </span>
                            <span class="modeltranslation-{{ form.prefix }}--ru">
                                <img id="{{ form.main_image_ru.id_for_label }}-thumbnail" class="card-img-top" src="{% if form.instance.main_image_ru %}{{ form.instance.main_image_ru.url }}{% endif %}" alt="">
                            </span>
                            <span class="modeltranslation-{{ form.prefix }}--uk">
                                <img id="{{ form.main_image_uk.id_for_label }}-thumbnail" class="card-img-top" src="{% if form.instance.main_image_uk %}{{ form.instance.main_image_uk.url }}{% endif %}" alt="">
                            </span>
                        </div>
                        <div class="card-body">
                            <div>
                                <span class="modeltranslation-{{ form.prefix }}--en">
                                    {{ form.main_image_en|as_crispy_field }}
                                </span>
                                <span class="modeltranslation-{{ form.prefix }}--ru">
                                    {{ form.main_image_ru|as_crispy_field }}
                                </span>
                                <span class="modeltranslation-{{ form.prefix }}--uk">
                                    {{ form.main_image_uk|as_crispy_field }}
                                </span>
                            </div>
                        </div>
                    </div>


                    <label>{% trans 'News images gallery' %}</label>
                    <h5 id="news-main_image-required_size" class="mr-auto"></h5>
                    <div class="container-fluid">
                        {% with gallery.formset as formset %}
                            {{ formset.management_form }}
                            <div class="row justify-content-between justify-content-around" id="{{ formset.prefix }}-list">
                                {% for form in formset %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                <div class="col-md-4 col-lg-2 card px-0 mt-5 mx-1 {{ formset.prefix }}">
                                    <div class="card-header text-right">
                                        {{ form.DELETE|as_crispy_field }}
                                    </div>
                                    <img id="{{ form.image.id_for_label }}-thumbnail" class="card-img-top" src="{% if form.instance.image %}{{ form.instance.image.url }}{% endif %}" alt="">
                                    <div class="card-body">
                                        {{ form.image|as_crispy_field }}
                                        {{ form.is_active|as_crispy_field }}
                                    </div>
                                </div>
                                {% endfor %}
                                <div id="{{ formset.prefix }}-empty-form" class="col-md-4 col-lg-2 card px-0 mt-5 mx-1 hidden">
                                    {% with formset.empty_form as empty_form %}
                                        <div class="card-header text-right">
                                            {{ empty_form.DELETE|as_crispy_field }}
                                        </div>
                                        <img id="{{ empty_form.image.id_for_label }}-thumbnail" class="card-img-top" src="" alt="">
                                        <div class="card-body">
                                            {{ empty_form.image|as_crispy_field }}
                                            {{ empty_form.is_active|as_crispy_field }}
                                        </div>
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="text-center mt-5">
                                <input type="button" onclick="add_empty_form(event, '{{ formset.prefix }}')" class="btn btn-light px-5" value="+" style="font-size: 75px;">
                            </div>
                        {% endwith %}
                    </div>

                    {{ form.video_link|as_crispy_field }}
                    <label>{% trans 'SEO block:' %}</label>
                    <div class="container">
                        {% for field in seo.form %}
                            {{ field|as_crispy_field }}
                        {% endfor %}
                    </div>
                    <div class="text-center mt-4">
                        <input type="submit" class="btn btn-success px-4" value="{% trans 'Save' %}" style="font-size: 20px;">
                        <a href="{{ currentUrl }}" class="btn btn-primary px-4 ml-5" style="font-size: 20px;">{% trans 'Return initial condition' %}</a>
                    </div>
                </div>
            {% endwith %}

        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script src="{% static 'admin/js/dynamic_formset.js' %}"></script>
    <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'admin/js/custom_toastr.js' %}"></script>

    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'admin/js/dynamic_image_select.js' %}"></script>
    <script src="{% static 'admin/js/modeltranslation_language_switch.js' %}"></script>
    <script>
        //read data from django context, then init required sizes labels.
        // REQUIRED_SIZES also needed for the front-end image validation at 'static/admin/js/dynamic_image_select.js'
        const REQUIRED_SIZES = JSON.parse('{{ required_sizes|safe }}')
        initRequiredSizeLabels()
    </script>
{% endblock %}
