{% extends 'main/main_layout.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Cinema card' %}
{% endblock %}

{% block main_cinemas %}
    active
{% endblock %}

{% block content %}
    {# cinemas banner #}
        <img src="{{ cinema.banner.url }}"
             alt=""
             style="width: 100vw; height: 21vw; background: gray;">
    {# cinema banner end #}

    <div class="row">
        {# left side area #}
            <div class="col-2 ml-5 mr-3">
                {# context ads #}
                    <div class="col my-5 text-center p-5 black-text" style="background: lightgray;">
                        <a href="#">
                            <h5>
                                {% trans 'Context ads' %}
                            </h5>
                        </a>
                    </div>
                {# context ads end #}

                {# halls list #}
                    <h5 class="text-center mt-5 mb-3">
                        {% trans 'Halls count' %}: {{ halls|length }}
                    </h5>

                    <table class="table text-center black-text">
                      <tbody>
                      {% for hall in halls %}
                          <tr><td><a href="{% url 'main:hall_card' hall.pk %}">
                              {% trans 'Hall' %} - {{ hall.number }}
                          </a></td></tr>
                      {% endfor %}
                      </tbody>
                    </table>
                {# halls list end #}

                {# movie sessions #}
                    <h5 class="mt-5 mb-3 text-center">
                        {% trans 'Watch today' %}:
                    </h5>

                    <table class="table text-center black-text">
                      <tbody>
                      {% for movie_session in movie_sessions %}
                          <tr>
                              <td>
                                  <a href="{% url 'main:timetable' movie_id=movie_session.movie.pk cinema_id=cinema.pk %}">
                                    {{ movie_session.movie.title }}
                                  </a>
                              </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <div class="text-center">
                        <a href="{% url 'main:timetable' %}"
                           class="btn btn-success px-3 py-2" style="font-size: 20px">
                            {% trans 'All sessions timetable' %}
                        </a>
                    </div>

                {# movie sessions end #}
            </div>
        {# left side area end #}

        {# content #}
            <div class="col mr-5">
                <div class="col d-inline-flex my-5">
                    <h3 class="mt-2 mx-4">
                        {% trans 'Cinema' %} "{{ cinema.name }}"
                    </h3>

                    <div>
                        <img src="{{ cinema.logo.url }}" alt="" style="height: 70px;">
                    </div>

                    <div class="mx-auto">
                        <a href="{% url 'main:timetable' cinema_id=cinema.pk %}"
                           class="btn btn-success px-5 py-2" style="font-size: 20px">
                            {% trans 'Sessions timetable' %}
                        </a>

                        <div class="mt-4">
                            <span class="badge-pill badge-warning p-2">3D</span>
                            <span class="badge-pill badge-secondary p-2">D-BOX</span>
                            <span class="badge-pill badge-danger p-2">DOLBY ATMOS</span>
                            <span class="badge-pill badge-info p-2">VIP</span>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <p class="text-break">{{ cinema.description }}</p>
                </div>

                {# amenities #}
                    <div class="col text-center mt-5 mb-4">
                        <h3>{% trans 'Amenities' %}</h3>
                    </div>

                    <div class="col">
                        <p class="text-break">{{ cinema.amenities }}</p>
                    </div>
                {# amenities end #}

                {# gallery #}
                    <div class="col text-center mt-5 mb-5">
                        <h3>{% trans 'Photo gallery' %}</h3>
                    </div>

                    <div id="carouselGallery" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          {% for photo in gallery %}
                            <li data-target="#carouselGallery"
                                data-slide-to="{{ forloop.counter|add:"-1" }}"
                                class="{% if forloop.counter == 1 %}active{% endif %}">
                            </li>
                          {% endfor %}
                      </ol>

                      <div class="carousel-inner">
                          {% for photo in gallery %}
                              <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                  <img src="{{ photo.image.url }}" class="d-block w-100" alt="">
                              </div>
                          {% endfor %}
                      </div>

                      <button class="carousel-control-prev" type="button" data-target="#carouselGallery" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </button>

                      <button class="carousel-control-next" type="button" data-target="#carouselGallery" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </button>
                    </div>
                {# gallery end #}
            </div>
        {# content end #}
    </div>

{% endblock %}