{% extends 'main/main_layout.html' %}
{% load static %}

{% block title %}
    Карточка зала
{% endblock %}

{% block main_cinemas %}
    active
{% endblock %}

{% block content %}
    {# hall banner #}
        <img src="{{ hall.banner.url }}"
             alt=""
             style="width: 100vw; height: 21vw; background: gray;">
    {# hall banner end #}

    <div class="row">
        {# left side area #}
            <div class="col-2 ml-5 mr-3">
                {# context ads #}
                    <div class="col my-5 text-center p-5" style="background: lightgray;">
                        <a href="#">
                            <h5>
                                Контекстная реклама
                            </h5>
                        </a>
                    </div>
                {# context ads end #}

                {# movie sessions #}
                    <h5 class="mt-5 mb-3 text-center">
                        Смотрите сегодня:
                    </h5>

                    <table class="table text-center">
                      <tbody>
                      {% for movie_session in movie_sessions %}
                          <tr><td><a href="#">
                              Сеанс {{ forloop.counter }}
                          </a></td></tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <a href="#"
                       class="btn btn-success px-3 py-2" style="font-size: 20px">
                        Расписание всех сеансов
                    </a>
                {# movie sessions end #}
            </div>
        {# left side area end #}

        {# content #}
            <div class="col mr-5">
                {# hall description #}
                    <div class="col mt-5 mx-4">
                        <h3 class="text-center mb-3">
                            Зал {{ hall.number }}
                        </h3>

                        <div class="">
                            <p class="text-break">{{ hall.description }}</p>
                        </div>
                    </div>
                {# hall description end #}

                {# hall map #}
                    <div class="col mt-5 mx-4 text-center">
                        <h3 class="mb-5">Карта зала</h3>
                        <img src="{{ hall.scheme.url }}" alt="">
                    </div>
                {# hall map end #}

                {# gallery #}
                    <div class="col text-center mt-5 mb-5">
                        <h3>Фотогалерея</h3>
                    </div>

                    <div id="carouselGallery" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          {% for photo in gallery %}
                            <li data-target="#carouselGallery"
                                data-slide-to="{{ forloop.counter|add:"-1" }}"
                                class="{% if forloop.counter == 1 %}active{% endif %}">
                            </li>
                          {% endfor %}
                      </ol>

                      <div class="carousel-inner">
                          {% for photo in gallery %}
                              <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                  <img src="{{ photo.image.url }}" class="d-block w-100" alt="">
                              </div>
                          {% endfor %}
                      </div>

                      <button class="carousel-control-prev" type="button" data-target="#carouselGallery" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Предыдущая</span>
                      </button>

                      <button class="carousel-control-next" type="button" data-target="#carouselGallery" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Следующая</span>
                      </button>
                    </div>
                {# gallery end #}
            </div>
        {# content end #}
    </div>

{% endblock %}