{% extends 'main/main_layout.html' %}
{% load static %}

{% block title %}
    Кинотеатры
{% endblock %}

{% block main_cinemas %}
    active
{% endblock %}

{% block content %}
    {# cinemas static banner #}
        <img src="{% static 'main/cinemas/img/movie-cinema.jpg' %}"
             alt=""
             style="width: 100vw; height: 21vw; background: gray;">
    {# cinemas static banner end #}

    {# content #}
        <div class="row my-5">
            {# main_content #}
                <div class="col text-center">
                    <h2 class="mb-5">Наши кинотеатры</h2>
                    <div class="row justify-content-center">
                        {% for cinema_card in cinemas %}
                            <div class="col-4 card p-0 mx-5">
                                <a href="{% url 'main:cinema_card' cinema_card.pk %}">
                                    <img class="card-img-top" src="{{ cinema_card.banner.url }}" alt="">
                                    <div class="card-body">
                                        <p class="text-center text-dark">{{ cinema_card.name }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {# main_content end #}

            {# context ads #}
                <div class="col-2">

                </div>
            {# context ads end #}
        </div>
    {# content end #}
{% endblock %}
