{% extends 'main/main_layout.html' %}
{% load static %}

{% block title %}
    Кинотеатры
{% endblock %}

{% block main_cinemas %}
    active
{% endblock %}

{% block content %}
    {# cinemas static banner #}
        <img src="{% static 'main/cinemas/img/movie-cinema.jpg' %}"
             alt=""
             style="width: 100vw; height: 21vw; background: gray;">
    {# cinemas static banner end #}

    {# content #}
        <div class="row my-5">
            {# main_content #}
                <div class="col text-center">
                    <h2 class="mb-5">
                        Наши кинотеатры
                    </h2>

                    <div class="row justify-content-center">
                        {% for cinema_card in cinemas %}
                            <a href="{% url 'main:cinema_card' cinema_card.pk %}" class="col-4 p-0 m-5">
                                <div class="card">
                                    <img class="card-img-top" src="{{ cinema_card.banner.url }}" alt="">
                                    <div class="card-body">
                                        <p class="text-center text-dark">{{ cinema_card.name }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>

                </div>
            {# main_content end #}

            {# context ads #}
                <div class="col-2 row justify-content-center mr-4">
                    {% for context_ad in context_ads %}
                        <div class="col-11 my-5 text-center p-5" style="background: lightgray;">
                            <a href="#">
                                <h5>
                                    Контекстная реклама
                                </h5>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {# context ads end #}
        </div>
    {# content end #}
{% endblock %}
