body {
    overflow-x: hidden;
}


/* navbar */
.logo {
    max-height: 100px;
}

.nav-link {
    color: #52A2EF !important;
}
.nav-link:hover {
    color: #fff !important;
}

.navbar-nav > .active > a {
    margin-right: 5px;
    margin-left: 5px;
    color: white !important;
    }

/* navbar end */


/* links */
a {
    transition: transform .3s;
    font-size: 19px;
    text-decoration: none !important;
    }

a:hover {
    transform: scale(1.05);
}

/* links end */


/* social net links */
.link-height {
    max-height: 36px;
}

.social-links a {
    padding-left: 4px;
    padding-right: 4px;
    }

/* social net links end */


/* footer */
footer a {
    color: black !important;
}

/* footer end */


/*context ads */
#context_ads a {
    color: black !important;
}

/*context ads */
