{% extends 'main/main_layout.html' %}
{% load static %}

{% block title %}
    Карточка акции
{% endblock %}

{% block main_promotion %}
    active
{% endblock %}

{% block content %}
    <div class="row">
        {# main content #}
            <div class="col ml-5">
                {# promotion description #}
                    <div class="col my-5 mx-4">
                        <h3 class="mb-3">
                            Акция "{{ promotion.title }}"
                        </h3>

                        <div class="mb-5">
                            <span class="badge-pill badge-primary p-2">Dreamtown</span>
                            <span class="badge-pill badge-warning p-2">Gulliver</span>
                        </div>

                        <div class="row justify-content-start">
                            <div class="col-3">
                                <img src="{{ promotion.main_image.url }}" alt="" style="width: 15vw">
                            </div>

                            <div class="col">
                                <p class="text-break">{{ promotion.description }}</p>
                            </div>
                        </div>

                    </div>
                {# promotion description end #}

                {# gallery #}
                    <div class="col text-center my-5">
                        <h3>Галерея</h3>
                    </div>

                    <div id="carouselGallery" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          {% for photo in gallery %}
                            <li data-target="#carouselGallery"
                                data-slide-to="{{ forloop.counter|add:"-1" }}"
                                class="{% if forloop.counter == 1 %}active{% endif %}">
                            </li>
                          {% endfor %}
                      </ol>

                      <div class="carousel-inner">
                          {% for photo in gallery %}
                              <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                  <img src="{{ photo.image.url }}" class="d-block w-100" alt="">
                              </div>
                          {% endfor %}
                      </div>

                      <button class="carousel-control-prev" type="button" data-target="#carouselGallery" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Предыдущая</span>
                      </button>

                      <button class="carousel-control-next" type="button" data-target="#carouselGallery" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Следующая</span>
                      </button>
                    </div>
                {# gallery end #}
            </div>
        {# main_content end #}

        {# right side area #}
            <div class="col-2 ml-5 mr-3">
                {# context ads #}
                    {% for context_ad in context_ads %}
                        <div class="col-11 my-5 text-center p-5" style="background: lightgray;">
                            <a href="#">
                                <h5>
                                    Контекстная реклама
                                </h5>
                            </a>
                        </div>
                    {% endfor %}
                {# context ads end #}
            </div>
        {# right side area end #}
    </div>

{% endblock %}