{% extends 'main/main_layout.html' %}
{% load static %}

{% block title %}Бронирование билета{% endblock %}

{% block main_timetable %}active{% endblock %}

{% block stylesheets %}
    <style>
        #movie_name {
            background: #bc3c29;
            font-size: 22px;
        }

        #movie_name:before {
            content: '';
            background: #f8c642;

            display: block;
            position: absolute;
            z-index: -1;
            transform: rotate(17deg);

            margin-top: 17px;
            height: 20px;
            width: 50px;
        }
    </style>

    <style>
        .ticket-card {
            font-weight: bold;
            margin-left: 10px;
            width: 55px;
            height: 55px;
            color: white;

        }
        .ticket-able {
            background: orange;
        }
        .ticket-booked {
            background: gray;
        }
        .ticket-sold {
            background: black;
        }

        .ticket_number {
            position: absolute;
            margin-left: 30px;
            margin-top: 28px;
        }
    </style>

    <style>
        input[type="checkbox"][id^="ticket-"] {
            position: absolute;
            visibility: hidden;
            opacity: 0;
        }

        input[type="checkbox"][id^="ticket-"] + label > div {
            transition: .3s;
        }

        input[type="checkbox"][id^="ticket-"]:hover + label > div {
            background: darkgrey;
            transform: scale(1.10);
        }

        input[type="checkbox"][id^="ticket-"]:checked + label > div {
            background: orangered;
        }

        input[type="checkbox"][id^="ticket-"]:checked:hover + label > div {
            background: darkred;
        }
    </style>
{% endblock %}

{% block content %}
    {# hall banner #}
        <img src="{{ hall.banner.url }}"
             alt=""
             style="width: 100vw; height: 21vw; background: gray;">
    {# hall banner end #}

    <div class="row">
        {# left side area #}
            <div class="col-2 ml-5 mr-3">
                <div>
                    <img src="{{ movie_session.movie.main_image.url }}" class="w-100 mt-3" alt="">
                </div>
                {# context ads #}
                    <div class="col my-5 text-center p-5 black-text" style="background: lightgray;">
                        <a href="#">
                            <h5>
                                Контекстная реклама
                            </h5>
                        </a>
                    </div>
                {# context ads end #}
            </div>
        {# left side area end #}

        {# content #}
            <div class="col mr-5">
                {# info #}
                <div class="container-fluid">
                    <p id="movie_name" class="badge text-white mt-4 py-2 pl-3 pr-4 pt-2">{{ movie_session.movie.title|upper }}</p>
                    <h6 class="text-gray mt-3">{{ movie_session.start_datetime|date:"j E, H:i"|upper }}, ЗАЛ №{{ movie_session.hall.number }}</h6>
                    <div class="row">
                        <div class="col">
                            <h5 class="mt-3">ЦЕНА В ГРН.:
                                <span id="ticket_price" style="background: orange; color: white; font-weight: bold; padding: 8px; margin-left: 15px;">
                                    {{ movie_session.ticket_price }}
                                </span>
                            </h5>
                        </div>
                        <div class="col-9 row justify-content-center">
                            <h5 class="mt-3">
                                ЗАБРОНИРОВАНО:
                            </h5>

                            <div class="ticket-card ticket-booked mr-5">
                                <span class="ticket_number">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>

                            <h5 class="mt-3 mr-3">
                                ВАШ ЗАКАЗ:
                            </h5>
                            <div class="d-inline-flex pt-3 px-4" style="border: 3px solid orange">
                                <p>БИЛЕТОВ:
                                    <span id="chosen_tickets_count" class="text-danger mr-5" style="font-weight: bold">
                                        0
                                    </span>
                                </p>
                                <p>СУММА:
                                    <span id="chosen_tickets_total_price" class="text-danger" style="font-weight: bold">
                                        0
                                    </span>
                                    <span class="text-danger" style="font-weight: bold">
                                        грн.
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                {# hall scheme #}
                <div class="row mt-5">
                    <div class="col-10 ml-auto mb-5 text-center">
                        <hr style="border-width: 2px; border-color: black">
                        <h3>
                            ЭКРАН
                        </h3>
                    </div>
                </div>

                <div class="col" style="margin-top: 3vw; margin-bottom: 5vw;">
                    {% for row_number in places_rows %}
                        <div class="row mt-3">
                            <div id="rows" class="col mt-1 ml-5">
                                <h3>Ряд {{ row_number }}</h3>
                            </div>
                            <div id="tickets" class="col-10 d-inline-flex justify-content-center">
                                {% for ticket in tickets %}
                                    {% if ticket.row == row_number %}

                                        {% if ticket.is_sold or ticket.is_booked %}
                                            <div class="ticket-card ticket-{% if ticket.is_sold %}sold{% else %}booked{% endif %} mr-5">
                                                <span class="ticket_number">
                                                    <i class="fas fa-user"></i>
                                                </span>
                                            </div>

                                        {% else %}
                                            <input id="ticket-{{ ticket.pk }}" class="ticket_checkbox" type="checkbox">

                                            <label for="ticket-{{ ticket.pk }}">
                                                <div class="ml-3 ticket-card ticket-able">
                                                    <span class="ticket_number">
                                                        {% if ticket.is_sold or ticket.is_booked %}
                                                            <i class="fas fa-user"></i>
                                                        {% else %}
                                                            <span>{{ ticket.place_number }}</span>
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </label>
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {# buy links #}
                <div class="col">
                    <h5>
                        Стоимость услуги бронирования - 3 грн. за каждое место
                    </h5>

                    <h5>
                        ЗАБРОНИРОВАННЫЕ БИЛЕТЫ НУЖНО ВЫКУПИТЬ В КАССЕ КИНОТЕАТРА НЕ ПОЗДНЕЕ ЧЕМ ЗА ПОЛЧАСА ДО НАЧАЛА СЕАНСА
                    </h5>
                    <div class="row justify-content-center mt-3">
                        <a href="{% url 'main:ticket_pay' user_pk=user.pk mode='booking' tickets='none' %}"
                           class="btn btn-light mx-2 pay_link"
                           style="border: 2px solid black; width: 220px;">
                            Забронировать
                        </a>

                        <a href="{% url 'main:ticket_pay' user_pk=user.pk mode='pay' tickets='none' %}"
                           class="btn btn-success mx-2 pay_link"
                           style="border: 2px solid black; width: 220px;">
                            Купить
                        </a>
                    </div>
                </div>
            </div>
        {# content end #}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let JSON_TICKETS_ID;
        let allTickets = $('.ticket_checkbox')

        allTickets.on('change', () => {
            let selectedTicketsId = []

            $('.ticket_checkbox:checked').each(function () {
                const clear_id = this.id.split('-')[1]

                selectedTicketsId.push(clear_id)
            });

            const ticketsCount = selectedTicketsId.length
            const ticketPrice = parseInt($('#ticket_price').text())
            const ticketsTotalPrice = ticketsCount * ticketPrice

            $('#chosen_tickets_count').text(ticketsCount)
            $('#chosen_tickets_total_price').text(ticketsTotalPrice)

            // prepare to pass data to url
            JSON_TICKETS_ID = JSON.stringify(selectedTicketsId)
        });

    </script>

    {# pass data to url #}
    <script>
        const pay_links = $('.pay_link')

        pay_links.on('click', function () {
            this.href = this.href.replace('none', JSON_TICKETS_ID)
        })

    </script>
{% endblock %}