{% extends 'main/main_layout.html' %}
{% load static %}

{% block title %}Расписание{% endblock %}

{% block main_timetable %}active{% endblock %}

{% block content %}
    <div class="row">
        {# content #}
            <div class="col">
                <div id="movie_session_filters" class="row justify-content-center mt-5">
                    <div>
                        <label>
                            Показывать только:
                        </label>
                        {% for movie_type in movie_types %}
                            <div class="form-check form-check-inline ml-2">
                              <input class="form-check-input movie_type" type="checkbox" id="movie_type-{{ forloop.counter }}">
                              <label class="form-check-label" for="movie_type-{{ forloop.counter }}">
                                <span class="badge badge-pill badge-{% if forloop.first %}info{% elif forloop.counter == 2 %}primary{% else %}warning{% endif %}">
                                    {{ movie_type }}
                                </span>
                              </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div>
                        <label class="mx-2">
                            <select id="cinema_filter" class="custom-select">
                                <option value="0">Кинотеатр: все</option>
                                {% for cinema in cinemas %}
                                    <option value="{{ cinema.pk }}">{{ cinema.name }}</option>
                                {% endfor %}
                            </select>
                        </label>

                        <label class="mx-2">
                            <select  id="date_filter" class="custom-select">
                                <option value="0">Дата: все</option>
                                {% for day in session_days %}
                                    <option value="{{ forloop.counter }}">{{ day|date:"j E, D" }}</option>
                                {% endfor %}
                            </select>
                        </label>

                        <label class="mx-2">
                            <select  id="movie_filter" class="custom-select">
                                <option value="0">Фильм: все</option>
                                {% for movie_card in movies %}
                                    <option value="{{ movie_card.pk }}">{{ movie_card.title }}</option>
                                {% endfor %}
                            </select>
                        </label>

                        <label class="mx-2">
                            <select id="hall_filter" class="custom-select">
                                <option value="0">Зал: все</option>
                                {% for hall_card in halls %}
                                    <option id="{{ hall_card.cinema.pk }}" value="{{ hall_card.pk }}">{{ hall_card.number }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>

                <div id="sessions_container" class="col-12">
                    {% for day in session_days %}
                        <div id="day-{{ forloop.counter }}-sessions_list" class="col-9 mx-auto my-5">
                            <h5>{{ day|date:"j E, l"|upper }}</h5>
                            <table id="sessions_table-{{ forloop.counter }}" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="display: none">Тип кино</th>
                                        <th style="display:none;">Кинотеатр</th>
                                        <th style="display:none;">Дата</th>
                                        <th style="display:none;">Фильм</th>
                                        <th style="display:none;">Зал</th>

                                        <th>Время</th>
                                        <th>Фильм</th>
                                        <th>Зал</th>
                                        <th>Цена в грн.</th>
                                        <th class="text-danger">Бронировать</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for movie_session in movie_sessions %}
                                        {% if movie_session.start_datetime.date == day %}
                                            <tr>
                                                <td style="display: none">{{ movie_session.movie_type }}</td>
                                                <td style="display:none;">{{ movie_session.hall.cinema.pk }}</td>
                                                <td style="display:none;">{{ movie_session.start_datetime.date }}</td>
                                                <td style="display:none;">{{ movie_session.movie.pk }}</td>
                                                <td style="display:none;">{{ movie_session.hall.pk }}</td>

                                                <td>{{ movie_session.start_datetime.time|date:"H:i" }}</td>
                                                <td>{{ movie_session.movie.title }}</td>
                                                <td>{{ movie_session.hall.number }}</td>
                                                <td>{{ movie_session.ticket_price }}</td>
                                                <td>
                                                    <a href="#">

                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}

                </div>
            </div>
        {# content end #}

        {# right side area #}
            <div class="col-3 mr-5">
                {# context ads #}
                    <div class="col my-5 text-center p-5 black-text" style="background: lightgray;">
                        <a href="#">
                            <h5>
                                Контекстная реклама
                            </h5>
                        </a>
                    </div>
                {# context ads end #}

            </div>
        {# right side area end #}

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    {# initMovieTypeCheckboxFilter #}
    <script>
        function initMovieTypeCheckboxFilter () {
            let movieTypeCheckboxFilter = $("input[id*='movie_type']");

            $(movieTypeCheckboxFilter).on('change', function () {
                let checkedCheckboxes = []
                let label_text_raw, label_text, search_options;

                for (let checkbox of movieTypeCheckboxFilter ) {

                    if (checkbox.checked) {
                        label_text_raw = $(`label[for="${checkbox.id}"]`).text()
                        label_text = $.trim(label_text_raw) // remove spaces around the text
                        checkedCheckboxes.push(label_text)
                    }

                if (!checkedCheckboxes.length) { // reset the filter if no checkboxes is active
                    search_options = ""
                } else {
                    search_options = `(${checkedCheckboxes.join('|')})`
                }

                dataTablesList.columns(0).search(search_options, true, false).draw();

                }
            });
        }
    </script>

    {# initCinemaSelectFilter #}
    <script >
        let cinemaSelectFilter = $("#cinema_filter")
        let hallSelectFilter = $("#hall_filter")
        let hallSelectOptions = $("#hall_filter option")

        function initCinemaSelectFilter () {
            cinemaSelectFilter.on('change', function () {
                let cinema_option_value = this.value

                if (cinema_option_value !== '0') {               // if it's not "all elements" option
                    hallSelectOptions.each(function () {
                        if (cinema_option_value === this.id)  {
                                this.style.display = 'initial'
                        } else {
                            if (this.value !== '0') {           // if it's not "all elements" option
                                this.style.display = 'none'
                            }
                        }

                        dataTablesList.columns(1).search(cinema_option_value).draw();

                    });
                }
                else {
                    hallSelectOptions.each(function () { // show all elements
                        this.style.display = 'initial'

                        dataTablesList.columns(1).search("").draw();

                    });
                }

                hallSelectFilter.prop('value', '0')
            });
        }

    </script>

    <script>
        let dateSelectFilter = $("#date_filter option")
        let movieSelectFilter = $("#movie_filter option")

        let datesList = $("div[id*='sessions_list']")

        let tablesList = $("table[id*='sessions_table']")
        let dataTablesList = tablesList.DataTable({
            "dom": 'rt',
            "search": {
                "regex": true,
            }
        });

        initMovieTypeCheckboxFilter()
        initCinemaSelectFilter()

    </script>
{% endblock %}