{% extends 'main/main_layout.html' %}

{% block title %}Расписание{% endblock %}

{% block main_timetable %}active{% endblock %}

{% block content %}
<div class="container features">
    <h1>Расписание</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda, consectetur consequatur eveniet impedit, ipsum magnam maiores nemo, optio reiciendis repellat repellendus soluta unde? Consequatur delectus ducimus molestias repellendus sapiente.</p>
    <button class="btn btn-default" style="background-color: yellow;">Принять</button>
</div>
{% endblock %}