{% extends 'main/main_layout.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Movie card' %}
{% endblock %}

{% block main_poster %}
    active
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        {# content #}
            <div class="text-center mb-5 p-0">
                <iframe width="1920" height="700"
                        src="https://www.youtube.com/embed/{{ trailer_link_id }}?autoplay=1&mute=1&playlist={{ trailer_link_id }}&loop=1">
                </iframe>
            </div>

            <div class="d-inline-flex mx-auto">
                <h2 class="ml-5">
                    {% trans 'Cinema session timetable' %}:
                </h2>
                <label class="mx-5">
                    <select  id="cinema_filter" class="custom-select">
                        <option value="0">{% trans 'Cinema: all' %}</option>
                        {% for cinema in cinemas %}
                            <option value="{{ cinema.pk }}">{{ cinema.name }}</option>
                        {% endfor %}
                    </select>
                </label>

                <a class="btn btn-light mx-5"
                   href="{% url 'main:timetable' movie_id=card.pk %}" style="font-size: 25px;">
                    {% trans 'All' %}
                </a>

                {% for movie_type in movie_types %}
                    <a class="btn btn-light mx-3"
                       href="{% url 'main:timetable' movie_id=card.pk movie_type=movie_type %}" style="font-size: 25px;">
                        {{ movie_type }}
                    </a>

                {% endfor %}

            </div>

            <div class="row my-2 ml-5 justify-content-start">
                {% for day in session_days %}
                    <a class="col-1 my-3 mx-4 text-center"
                       href="{% url 'main:timetable' movie_id=card.pk start_date=day|date:"d-m-Y" %}" style="font-size: 25px;">
                        <table class="table-bordered text-dark">
                            <thead>
                                <tr>
                                    <th>
                                        {{ day|date:"j D" }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="px-4">
                                        {{ day|date:"E"|capfirst }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                {% endfor %}

            </div>

            <div id="hall_filter_links" class="row mx-5 my-2 justify-content-start">
                {% for movie_session in movie_sessions %}
                    <a id="cinema_id-{{ movie_session.hall.cinema.pk }}" class="col-2 my-3 text-center"
                       href="{% url 'main:timetable' movie_id=card.pk movie_type=movie_session.movie_type hall_id=movie_session.hall.pk %}" style="font-size: 25px;">
                        <table class="table-bordered text-dark" style="width: 100%">
                            <tbody>
                                <tr>
                                    <td class="px-2">
                                        {{ movie_session.start_datetime.time|date:"H:i" }}
                                    </td>
                                    <td class="px-2">
                                        {{ movie_session.movie_type }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-1">
                                        {% trans 'Hall' %} {{ movie_session.hall.number }}
                                    </td>
                                    <td class="px-2">
                                        {{ movie_session.ticket_price }}/56/120
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                {% endfor %}
            </div>

            <div class="row my-5">
                <div class="col ml-5">
                    <div class="col-12 text-center">
                        <img class="mb-5"
                             src="{{ card.main_image.url }}" alt="" style="width: 25vw;">
                    </div>

                    <div class="col">
                        <table class="table table-bordered table-striped table-hover w-auto mx-auto">
                          <tbody>

                            <tr>
                              <th scope="row">{% trans 'Year' %}</th>
                              <td>{{ card.release_date|date:"Y" }}</td>
                            </tr>

                            <tr>
                              <th scope="row">{% trans 'Country' %}</th>
                              <td>{% trans 'Country' %}</td>
                            </tr>

                            <tr>
                              <th scope="row">Композитор</th>
                              <td>Композитор</td>
                            </tr>

                            <tr>
                              <th scope="row">Продюсер</th>
                              <td>Продюсер</td>
                            </tr>

                            <tr>
                              <th scope="row">Режиссер</th>
                              <td>Режиссер</td>
                            </tr>

                            <tr>
                              <th scope="row">Сценарист</th>
                              <td>Сценарист</td>
                            </tr>

                            <tr>
                              <th scope="row">Жанр</th>
                              <td>Жанр</td>
                            </tr>

                            <tr>
                              <th scope="row">Бюджет</th>
                              <td>Бюджет</td>
                            </tr>

                            <tr>
                              <th scope="row">{% trans 'Age rating' %}</th>
                              <td>{{ card.age_rating }}</td>
                            </tr>

                            <tr>
                              <th scope="row">{% trans 'Time' %}</th>
                              <td>117 {% trans 'min.' %} / 1:57</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-8 mr-5 mb-5">
                    <div class="text-center mr-5">
                        <a class="btn btn-success"
                           href="{% url 'main:timetable' card.pk %}" style="font-size: 25px;">
                            {% trans 'Buy a ticket' %}
                        </a>
                        <h3 class="my-5">
                            {{ card.title }}
                        </h3>
                    </div>

                    <span class="text-break">
                        {{ card.description }}
                    </span>

                    <div class="text-center mr-5">
                        <h3 class="my-5">
                            {% trans 'Frames and posters' %}
                        </h3>

                        {# gallery #}
                            <div id="carouselGallery" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                  {% for photo in gallery %}
                                    <li data-target="#carouselGallery"
                                        data-slide-to="{{ forloop.counter|add:"-1" }}"
                                        class="{% if forloop.counter == 1 %}active{% endif %}">
                                    </li>
                                  {% endfor %}
                              </ol>

                              <div class="carousel-inner">
                                  {% for photo in gallery %}
                                      <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                          <img src="{{ photo.image.url }}" class="d-block w-100" alt="">
                                      </div>
                                  {% endfor %}
                              </div>

                              <button class="carousel-control-prev" type="button" data-target="#carouselGallery" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </button>

                              <button class="carousel-control-next" type="button" data-target="#carouselGallery" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </button>
                            </div>
                        {# gallery end #}

                    </div>
                </div>
            </div>
        {# content end #}

        {# context ads #}
            <div class="col-12 mt-5 text-center p-5 black-text" style="background: lightgray;">
                <a href="#">
                    <h5>
                        {% trans 'Context ads' %}
                    </h5>
                </a>
            </div>
        {# context ads end #}

    </div>

{% endblock %}

{% block scripts %}

    <script>
        // show or hide error message when no movie_sessions is visible
        const errorMessage = `<h2 id="emptyError" class="text-center text-danger my-5" style="display: none;">{% trans 'No equal results for such filters' %}<\h2>`
        $('#hall_filter_links').append(errorMessage)
        const emptyError = $('#emptyError')

        const cinemaSelectFilter = $('#cinema_filter')
        const filterLinks = $(`a[id*="cinema_id"]`)


        cinemaSelectFilter.on('change', function () {
            const cinema_id = this.value
            filterLinks.each(function () {
                const filter_link_id = this.id.split('-')[1]
                if ((filter_link_id === cinema_id) || (cinema_id === '0')) {
                    $(this).show()
                } else {
                    $(this).hide()
                }
            });

            const visibleTablesCount = $('a[id*="cinema_id"]:visible').length
            if (!visibleTablesCount) {
                emptyError.show()
            } else {
                emptyError.hide()
            }

        });

    </script>
{% endblock %}