{% extends 'main/main_layout.html' %}
{% load static %}

{% block title %}
    Скоро
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'main/css/image_with_badge.css' %}">
{% endblock %}

{% block main_soon %}
    active
{% endblock %}

{% block content %}
    <div class="row">
        {# left side area #}
            <div class="col-2 ml-5 mr-3">
                {# context ads #}
                    <div class="col my-5 text-center p-5 black-text" style="background: lightgray;">
                        <a href="#">
                            <h5>
                                Контекстная реклама
                            </h5>
                        </a>
                    </div>
                {# context ads end #}

            </div>
        {# left side area end #}

        {# content #}
            <div class="col mr-5">
                {# movie_sessions #}
                    <div class="row my-5 mx-4">
                        {% for movie_card in page_obj %}
                            <div class="col-2 text-center my-5">
                                <h5>С {{ movie_card.release_date }}</h5>

                                <div class="image_with_badge">
                                    <img class="rounded img-fluid" src="{{ movie_card.main_image.url }}" alt="">

                                    <div class="badge-on-image">
                                        {% for movie_type in movie_card.available_movie_types_tuple %}
                                            <span class="badge badge-pill badge-{% if forloop.counter == 1 %}primary{% elif forloop.counter == 2 %}success{% elif forloop.counter == 3 %}warning{% else %}secondary{% endif %}">
                                                {{ movie_type }}
                                            </span>

                                        {% endfor %}

                                {% with movie_card.age_rating as age_rating %}
                                    {% if age_rating %}
                                        <span class="badge badge-pill badge-info">
                                            {{ age_rating }}+
                                        </span>

                                    {% endif %}

                                {% endwith %}
                                    </div>
                                </div>

                                <a href="{% url 'main:movie_card' movie_card.pk %}">
                                    <h4>{{ movie_card.title }}</h4>
                                </a>

                            </div>
                        {% endfor %}
                    </div>

                    <nav aria-label="Page navigation">
                      <ul class="pagination justify-content-center">

                        {% if page_obj.has_previous %}
                          <li class="page-item">
                              <a class="page-link" href="?page=1">&laquo;</a>
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a>
                          </li>

                        {% else %}
                            <li class="page-item disabled">
                              <a class="page-link" href="?page=0">Назад</a>
                          </li>

                        {% endif %}


                        {% for page_number in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_number == page_obj.number %}active{% endif %}">
                                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                            </li>

                        {% endfor %}


                        {% if page_obj.has_next %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a>
                          </li>
                          <li>
                              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                          </li>

                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="?page=0">Вперед</a>
                            </li>

                        {% endif %}
                      </ul>
                    </nav>

                {# movie_sessions end #}

            </div>
        {# content end #}
    </div>

{% endblock %}