{% extends 'admin/admin_layout.html' %}
{% load static %}

{% block stylesheets %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin/css/users.css' %}">
{% endblock %}

{% block users %}active{% endblock %}

{% block current_page %}{{ title }}{% endblock %}

{% block path %}
<li class="breadcrumb-item active">{{ title }}</li>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                     <tr>
                         {% for field in fields %}
                         <th>{{ field }}</th>
                         {% endfor %}
                     </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                      <tr>
                          <td>{{ user.id}}</td>
                          <td>{{ user.username}}</td>
                          <td>{{ user.email}}</td>
                          <td>
                              {% if user.phone %}
                              +38{{ user.phone}}
                              {% else %}
                              <div class="row">
                                <i class="fas fa-times text-dark mx-auto mt-2"></i>
                              </div>
                              {% endif %}
                          </td>
                          <td>
                              {% if user.first_name %}
                              {{ user.first_name}}
                              {% else %}
                              <div class="row">
                                <i class="fas fa-times text-dark mx-auto mt-2"></i>
                              </div>
                              {% endif %}
                          </td>
                          <td>
                              {% if user.last_name %}
                              {{ user.last_name}}
                              {% else %}
                              <div class="row">
                                <i class="fas fa-times text-dark mx-auto mt-2"></i>
                              </div>
                              {% endif %}
                          </td>
                          <td>
                              {% if user.gender == 'm' %}
                              <p>Мужской</p>
                              {% elif user.gender == 'f' %}
                              <p>Женский</p>
                              {% endif %}
                          </td>
                          <td>
                              {% if user.language == 'ru' %}
                              <p>Русский</p>
                              {% elif user.language == 'uk' %}
                              <p>Українська</p>
                              {% elif user.language == 'en' %}
                              <p>English</p>
                              {% endif %}
                          </td>
                          <td>{{ user.birth_date}}</td>
                          <td>
                              {% if user.last_name %}
                              {{ user.address}}
                              {% else %}
                              <div class="row">
                                <i class="fas fa-times text-dark mx-auto mt-2"></i>
                              </div>
                              {% endif %}
                          </td>
                          <td>{{ user.last_login}}</td>
                          <td>{{ user.date_joined}}</td>
                          <td>
                              <div class="row">
                                  {% if user.is_staff %}
                                  <i class="fas fa-check text-success mx-auto mt-2"></i>
                                  {% else %}
                                  <i class="fas fa-times text-dark mx-auto mt-2"></i>
                                  {% endif %}
                              </div>
                          </td>
                          <td>
                              <div class="row">
                                  {% if user.is_superuser %}
                                  <i class="fas fa-check text-success mx-auto mt-2"></i>
                                  {% else %}
                                  <i class="fas fa-times text-dark mx-auto mt-2"></i>
                                  {% endif %}
                              </div>
                          </td>
                          <td>
                              <div class="row buttons">
                                  <a href="{% url 'update_user' user.pk %}"
                                     class="fas fa-pen text-primary mx-auto my-3"></a>
                                  <a href="{% url 'delete_user' user.pk %}"
                                     class="fas fa-minus-circle text-danger ml-2 mr-auto my-3"></a>
                              </div>
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>
{% endblock %}

