{% extends 'admin/admin_layout.html' %}
{% load static %}

{% block stylesheets %}
{% endblock %}

{% block cinemas_conf %}active{% endblock %}

{% block current_page %}Кинотеатры{% endblock %}

{% block path %}
<li class="breadcrumb-item active">Кинотеатры</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex mt-2">
            <h4 class="col-11 text-center">
                Все кинотеатры
            </h4>
        </div>
        <div class="card-body">
            <div class="row justify-content-around">
                <div class="col-md-4 col-lg-2 px-0 mt-5 mx-auto mb-5 text-center">
                    <a href="{% url 'cinema_card' 'new' %}" class="btn btn-light px-5" style="font-size: 75px;">+</a>
                </div>
                {% for cinema_card in cinemas %}
                    <div class="col-md-4 col-lg-2 card px-0 mt-5 mx-auto mb-5">
                        <a href="{% url 'cinema_card' cinema_card.pk %}">
                            <img class="card-img-top" src="{{ cinema_card.logo.url }}" alt="">
                            <div class="card-body">
                                <p class="text-center text-dark">{{ cinema_card.name }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header d-flex mt-2">
            <h4 class="col-11 text-center">
                Список залов
            </h4>
        </div>

      <div id="data_table_decorator" class="card-body mx-5">
            <label for="cinemaSelect" class="row">Выберите кинотеатр:</label>
            <select class="col-2 custom-select" id="cinemaSelect">
                {% for cinema_card in cinemas %}
                    <option value="{{ forloop.counter }}">
                        {{ cinema_card.name }}
                    </option>
                {% endfor %}
            </select>

        <table id="hallsList" class="table table-bordered table-striped px-5">
          <thead>
             <tr>
                <th>Кинотеатр</th>
                <th>Номер зала</th>
                <th>Дата создания</th>
                <th>Статус</th>
                <th>Редактировать</th>
             </tr>
          </thead>
          <tbody>
            {% for hall in halls %}
              <tr>
                  <td>{{ hall.cinema.name }}</td>
                  <td>{{ hall.number }}</td>
                  <td>{{ hall.date_created }}</td>
                  <td>
                      {% if hall.is_active %}
                        <span>Вкл.</span>
                      {% else %}
                        <span>Выкл.</span>
                      {% endif %}
                  </td>
                  <td class="col-1">
                      <div class="row buttons">
                          <a href="{% url 'hall_card' cinema_pk=hall.cinema.pk pk=hall.pk %}"
                             class="fas fa-pen text-primary mx-auto"></a>
                          <!-- Button trigger modal -->
                          <a class="fas fa-minus-circle text-danger ml-2 mr-auto"
                             data-toggle="modal" data-target="#deleteHallModal-{{ forloop.counter }}"></a>
                          <!-- Modal -->
                        <div class="modal fade" id="deleteHallModal-{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header bg-dark">
                                <h5 class="modal-title" id="exampleModalLongTitle-{{ forloop.counter }}">
                                    Подтверждение удаления
                                </h5>
                              </div>
                              <div class="modal-body text-center bg-light" style="padding-top: 4vh; padding-bottom: 4vh;">
                                <span style="font-size: 20px;">
                                    Вы уверены, что хотите удалить этот зал?
                                </span>
                                <span class="text-primary" style="font-size: 35px;">
                                    {{ hall.number }}
                                </span>
                              </div>
                              <div class="modal-footer bg-dark">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Назад
                                </button>
                                  <a href="{% url 'delete_hall_card' cinema_pk=hall.cinema.pk pk=hall.pk %}" class="btn btn-danger">
                                      Удалить зал
                                  </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>


        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admin/js/get_data_table.js' %}"></script>

    <script>
        const dataTableId = "hallsList";
        getDataTable(dataTableId);

        function add_create_button(dataTable) {
        let left_header = document.getElementById(`${dataTable}_wrapper`).getElementsByClassName('col-sm-12')[0]


        left_header.innerHTML = `<a href="{% url 'hall_card' cinema_pk= pk='new' %}" class="btn btn-primary mt-2 ml-3 px-2"><i class="fas fa-plus pr-2"></i>Создать зал</a>`
        }

    add_create_button(dataTableId);
    </script>
{% endblock %}

