{% extends 'admin/admin_layout.html' %}
{% load static %}

{% block stylesheets %}
{% endblock %}

{% block cinemas_conf %}active{% endblock %}

{% block current_page %}Кинотеатры{% endblock %}

{% block path %}
<li class="breadcrumb-item active">Кинотеатры</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex mt-2">
            <h4 class="col-11 text-center">
                Все кинотеатры
            </h4>
        </div>
        <div class="card-body">
            <div class="row justify-content-around">
                <div class="col-md-4 col-lg-2 px-0 mt-5 mx-auto mb-5 text-center">
                    <a href="{% url 'cinema_card' 'new' %}" class="btn btn-light px-5" style="font-size: 75px;">+</a>
                </div>
                {% for cinema_card in cinemas %}
                    <div class="col-md-4 col-lg-2 card px-0 mt-5 mx-auto mb-5">
                        <a href="{% url 'cinema_card' cinema_card.pk %}">
                            <img class="card-img-top" src="{{ cinema_card.logo.url }}" alt="">
                            <div class="card-body">
                                <p class="text-center text-dark">{{ cinema_card.name }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}

