{% extends 'main/main_layout.html' %}
{% load static %}

{% block title %}
    О кинотеатре
{% endblock %}

{% block main_about_the_cinema %}
    active
{% endblock %}

{% block content %}
    {# about_the_cinema static banner #}
        <img src="{% static 'main/about_the_cinema/img/about_the_cinema.jpg' %}"
             alt=""
             style="width: 100vw; height: 21vw; background: gray;">
    {# about_the_cinema static banner end #}

    <div class="row">
        {# main content #}
            <div class="col ml-5">
                {# promotion description #}
                    <div class="col my-5 mx-4">
                        <h3 class="text-center mb-3">
                            О кинотеатре
                        </h3>

                        <div class="col">
                            <p class="text-break">
                                {{ page_card.description }}
                            </p>
                        </div>

                        <div class="col text-center my-5">
                            <img src="{{ page_card.description_image.url }}" alt=""  style="max-width: 100%;">
                        </div>

                        <h3 class="text-center mb-3">
                            Оборудование
                        </h3>

                        <div class="col">
                            <p class="text-break">
                                {{ page_card.equipment }}
                            </p>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-5 my-5">
                                <img src="{{ page_card.equipment_image_1.url }}" alt="" style="max-width: 100%;">
                            </div>

                            <div class="col-5 my-5">
                                <img src="{{ page_card.equipment_image_2.url }}" alt="" style="max-width: 100%;">
                            </div>
                        </div>


                    </div>
                {# promotion description end #}

            </div>
        {# main_content end #}

        {# right side area #}
            <div class="col-2 ml-5 mr-3">
                {# context ads #}
                    {% for context_ad in context_ads %}
                        <div class="col-11 my-5 text-center p-5" style="background: lightgray;">
                            <a href="#">
                                <h5>
                                    Контекстная реклама
                                </h5>
                            </a>
                        </div>
                    {% endfor %}
                {# context ads end #}
            </div>
        {# right side area end #}
    </div>
{% endblock %}