{% extends 'main/main_layout.html' %}

{% block title %}Кафе-бар{% endblock %}

{% block main_about_the_cinema %}active{% endblock %}

{% block content %}
<div class="container features">
    <h1>Кафе-бар</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda, consectetur consequatur eveniet impedit, ipsum magnam maiores nemo, optio reiciendis repellat repellendus soluta unde? Consequatur delectus ducimus molestias repellendus sapiente.</p>
    <button class="btn btn-default">Принять</button>
</div>
{% endblock %}