{% extends 'main/main_layout.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Child room' %}
{% endblock %}

{% block main_about_the_cinema %}
    active
{% endblock %}

{% block content %}
    {# hall banner #}
        <img src="{% static 'main/cinemas/img/movie-cinema.jpg' %}"
             alt=""
             style="width: 100vw; height: 21vw; background: gray;">
    {# hall banner end #}

    <div class="row">
        {# content #}
            <div class="col ml-5">
                {# page description #}
                    <div class="col mt-5">
                        <h3 class="text-center mb-3">
                            {% trans 'Child room' %}
                        </h3>

                        <div class="">
                            <p class="text-break">{{ page.description }}</p>
                        </div>

                        {# additional images #}
                        <div class="row mt-5 mx-5 justify-content-between">
                            <img class="col-4" src="{{ page.image_1.url }}" alt="">
                            <img class="col-4" src="{{ page.image_2.url }}" alt="">
                            <img class="col-4" src="{{ page.image_3.url }}" alt="">
                        </div>

                        {# additional images end #}

                    </div>
                {# hall description end #}


                {# gallery #}
                    <div class="col text-center mt-5 mb-5">
                        <h3>{% trans 'Photo gallery' %}</h3>
                    </div>

                    <div id="carouselGallery" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          {% for photo in gallery %}
                            <li data-target="#carouselGallery"
                                data-slide-to="{{ forloop.counter|add:"-1" }}"
                                class="{% if forloop.counter == 1 %}active{% endif %}">
                            </li>
                          {% endfor %}
                      </ol>

                      <div class="carousel-inner">
                          {% for photo in gallery %}
                              <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                  <img src="{{ photo.image.url }}" class="d-block w-100" alt="">
                              </div>
                          {% endfor %}
                      </div>

                      <button class="carousel-control-prev" type="button" data-target="#carouselGallery" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </button>

                      <button class="carousel-control-next" type="button" data-target="#carouselGallery" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </button>
                    </div>
                {# gallery end #}
            </div>
        {# content end #}
        {# right side area #}
            <div class="col-2 ml-5 mr-3">
                {# context ads #}
                    {% for context_ad in context_ads %}
                        <div class="col-11 my-5 text-center p-5 black-text" style="background: lightgray;">
                            <a href="#">
                                <h5>
                                    {% trans 'Context ads' %}
                                </h5>
                            </a>
                        </div>
                    {% endfor %}
                {# context ads end #}
            </div>
        {# right side area end #}
    </div>

{% endblock %}