.logo {max-height: 100px}
.link-height {max-height: 36px;}
.social-links a {padding-left: 2px; padding-right: 2px;}

.navbar .nav-item .nav-link {
    color: #52A2EF;
}
.navbar .nav-item .nav-link:hover {
    color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #52A2EF;
    padding-left: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

nav a {transition: transform .3s; font-size: 19px;}
nav a:hover {transform: scale(1.05);}

main .features {
    text-align: center;
    width: 75%;
    }
main .features h1 {font-size: 35px}
main .features p {
    max-width: 400px;
    margin: 20px auto;
    }
