<div class="card mx-4">
  <div class="card-header d-flex mt-2">
    <h4 class="col-11 text-center">
        На главной фон
    </h4>
    <a class="nav-link ml-auto" data-toggle="collapse" href="#collapseBackgroundBanner" role="button" aria-expanded="false" aria-controls="collapseBackgroundBanner">
    <i class="fas fa-bars" style="font-size: 22px;"></i>
    </a>
  </div>
    <div class="collapse" id="collapseBackgroundBanner">
        <div class="card-body mx-5 mt-1">
            <div class="row justify-content-start">
                <h5>Размер: 2000x3000</h5>
            </div>
            <div class="row justify-content-center mt-3 mb-5">
                Место под карточки
            </div>
            <div class="text-center">
                <button class="btn btn-success">Сохранить изменения</button>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</div>
<!-- /.card -->