{% load crispy_forms_tags %}
{% load static %}

<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="col-sm-12 col-lg-5 card px-0 mx-auto" style="min-width: 25vw;">
        {% with background_image as form %}
            {% if form.instance.image %}
                <img class="card-img-top" src="{{ form.instance.image.url }}" alt="thumbnail">
            {% endif %}
            <div class="card-body">
                {{ form.image|as_crispy_field }}
                {{ form.is_active|as_crispy_field }}
            </div>
        {% endwith %}
    </div>
    <div class="text-center mt-5">
        <input type="submit" name="background_image" class="btn btn-success" value="Сохранить изменения">
    </div>
</form>
