{% extends 'admin/admin_layout.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'admin/css/custom_delete_checkbox.css' %}">
{% endblock %}

{% block banners %}active{% endblock %}

{% block current_page %}Баннеры{% endblock %}
{% block path %}<li class="breadcrumb-item active">Баннеры</li>{% endblock %}


{% block content %}
<style>
    .hidden {
        display: none;
    }
</style>

    {% include './top_banners.html' %}
    {% include './background_image.html' %}
    {% include './news_banners.html' %}

{% endblock %}

{% block scripts %}
<script src="{% static 'admin/js/dynamic_formset.js' %}"></script>
{% endblock %}
