{% extends 'admin/admin_layout.html' %}
{% load static i18n crispy_forms_tags %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'admin/css/custom_delete_checkbox.css' %}">
<link rel="stylesheet" href="{% static 'plugins/toastr/toastr.css' %}">
<style>
    .hidden {
        display: none;
    }
</style>

{% endblock %}

{% block banners %}
    active
{% endblock %}

{% block current_page %}
    {% trans 'Banners' %}
{% endblock %}

{% block path %}
    <li class="breadcrumb-item active">
        {% trans 'Banners' %}
    </li>
{% endblock %}


{% block content %}
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}

        <div class="card card-primary card-outline card-outline-tabs mx-4">
            {% with top_banners.formset as formset %}
                <div class="card-header p-0">
                    <ul class="nav nav-tabs" id="{{ formset.prefix }}-language-tabs">
                        {% for language in languages %}
                            <li class="nav-item">
                                <a class="nav-link {% if LANGUAGE_CODE == language.code %}active{% endif %}" data-toggle="pill" href=""
                                   id="{{ formset.prefix }}-{{ language.code }}">
                                    {{ language.name_translated }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="container-fluid d-flex mt-3 mb-2">
                        <h4 class="col-11 text-center">
                            {% trans 'Main page top' %}
                        </h4>
                        <a class="nav-link ml-auto" data-toggle="collapse" href="#collapseTopBanner" role="button" aria-expanded="false" aria-controls="collapseTopBanner">
                            <i class="fas fa-bars" style="font-size: 22px;"></i>
                        </a>
                    </div>
                </div>
                <div class="collapse bg-light" id="collapseTopBanner">
                    <div class="card-body mx-5 mt-1 mb-3">
                        {% include './top_banners.html' %}
                    </div>
                    <!-- /.card-body -->
                </div>
            {% endwith %}
        </div>
        <!-- /.card -->

        <div class="card card-primary card-outline card-outline-tabs mx-4">
            {% with background_image.form as form %}
                <div class="card-header p-0">
                    <ul class="nav nav-tabs" id="{{ form.prefix }}-language-tabs">
                        {% for language in languages %}
                            <li class="nav-item">
                                <a class="nav-link {% if LANGUAGE_CODE == language.code %}active{% endif %}" data-toggle="pill" href=""
                                   id="{{ form.prefix }}-{{ language.code }}">
                                    {{ language.name_translated }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="container-fluid d-flex mt-3 mb-2">
                        <h4 class="col-11 text-center">
                            {% trans 'Main page background' %}
                        </h4>
                        <a class="nav-link ml-auto" data-toggle="collapse" href="#collapseBackgroundImage" role="button" aria-expanded="false" aria-controls="collapseBackgroundImage">
                            <i class="fas fa-bars" style="font-size: 22px;"></i>
                        </a>
                    </div>
                </div>
                <div class="collapse bg-light" id="collapseBackgroundImage">
                    <div class="card-body mx-5 mt-1 mb-3">
                        {% include './background_image.html' %}
                    </div>
                    <!-- /.card-body -->
                </div>
            {% endwith %}

        </div>
        <!-- /.card -->

    <div class="card card-primary card-outline card-outline-tabs mx-4">
        {% with news_banners.formset as formset %}
            <div class="card-header p-0">
                <ul class="nav nav-tabs" id="{{ formset.prefix }}-language-tabs">
                    {% for language in languages %}
                        <li class="nav-item">
                            <a class="nav-link {% if LANGUAGE_CODE == language.code %}active{% endif %}" data-toggle="pill" href=""
                               id="{{ formset.prefix }}-{{ language.code }}">
                                {{ language.name_translated }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="container-fluid d-flex mt-3 mb-2">
                    <h4 class="col-11 text-center">
                        {% trans 'Main page News | Promotion' %}
                    </h4>
                    <a class="nav-link ml-auto" data-toggle="collapse" href="#collapseNewsBanner" role="button" aria-expanded="false" aria-controls="collapseNewsBanner">
                        <i class="fas fa-bars" style="font-size: 22px;"></i>
                    </a>
                </div>
                <div class="collapse bg-light" id="collapseNewsBanner">
                    <div class="card-body mx-5 mt-1 mb-3">
                        {% include './news_banners.html' %}
                    </div>
                    <!-- /.card-body -->
                </div>
            {% endwith %}
            </div>
        </div>
        <!-- /.card -->
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'admin/js/dynamic_formset.js' %}"></script>
    <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'admin/js/custom_toastr.js' %}"></script>

    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'admin/js/dynamic_image_select.js' %}"></script>
    <script src="{% static 'admin/js/modeltranslation_language_switch.js' %}"></script>

    <script>
        //read data from django context, then init required sizes labels.
        // REQUIRED_SIZES also needed for the front-end image validation at 'static/admin/js/dynamic_image_select.js'
        const REQUIRED_SIZES = JSON.parse('{{ required_sizes|safe }}')
        initRequiredSizeLabels()
    </script>

    {# Translate options 'seconds' #}
    <script>
        let dataIntervalOptions = $('select[name*="banners-data_interval"] option')
        dataIntervalOptions.each(function () {
            let option = $(this)
            option.text(option.text() + " {% trans ' s' %}")
        })
    </script>

{% endblock %}