{% load static i18n crispy_forms_tags %}


<div class="row">
    <h4 id="top_banners-image-required_size" class="mr-auto"></h4>
    <div class="custom-control custom-switch">
        {{ top_banners.carousel.is_active }}
        <label for="{{ top_banners.carousel.is_active.id_for_label }}" class="custom-control-label" style="transform: scale(1.5)"></label>
    </div>
</div>

<div class="container-fluid">
    {% with top_banners.formset as formset %}
        {{ formset.management_form }}

        <div class="row justify-content-between justify-content-around" id="{{ formset.prefix }}-list">
            {% for form in formset %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <div class="col-sm-12 col-lg-5 card px-0 mt-5 {{ formset.prefix }}">
                    <div class="card-header text-right">
                        {{ form.DELETE|as_crispy_field }}
                    </div>
                    <span class="modeltranslation-{{ formset.prefix }}-en" >
                        <img id="{{ form.image_en.id_for_label }}-thumbnail" class="card-img-top" src="{% if form.instance.image_en %}{{ form.instance.image_en.url }}{% endif %}" alt="">
                    </span>
                    <span class="modeltranslation-{{ formset.prefix }}-ru" >
                        <img id="{{ form.image_ru.id_for_label }}-thumbnail" class="card-img-top" src="{% if form.instance.image_ru %}{{ form.instance.image_ru.url }}{% endif %}" alt="">
                    </span>
                    <span class="modeltranslation-{{ formset.prefix }}-uk" >
                        <img id="{{ form.image_uk.id_for_label }}-thumbnail" class="card-img-top" src="{% if form.instance.image_uk %}{{ form.instance.image_uk.url }}{% endif %}" alt="">
                    </span>

                    <div class="card-body">
                        <span class="modeltranslation-{{ formset.prefix }}-en" >
                            {{ form.image_en|as_crispy_field }}
                        </span>
                        <span class="modeltranslation-{{ formset.prefix }}-ru" >
                            {{ form.image_ru|as_crispy_field }}
                        </span>
                        <span class="modeltranslation-{{ formset.prefix }}-uk" >
                            {{ form.image_uk|as_crispy_field }}
                        </span>

                        {{ form.is_active|as_crispy_field }}
                    </div>
                </div>
            {% endfor %}

            <div id="{{ formset.prefix }}-empty-form" class="col-sm-12 col-lg-5 card px-0 mt-5 hidden">
                {% with formset.empty_form as empty_form %}
                    <div class="card-header text-right">
                        {{ empty_form.DELETE|as_crispy_field }}
                    </div>
                    <span class="modeltranslation-{{ formset.prefix }}-en" >
                        <img id="{{ empty_form.image_en.id_for_label }}-thumbnail" class="card-img-top" src="" alt="">
                    </span>
                    <span class="modeltranslation-{{ formset.prefix }}-ru" >
                        <img id="{{ empty_form.image_ru.id_for_label }}-thumbnail" class="card-img-top" src="" alt="">
                    </span>
                    <span class="modeltranslation-{{ formset.prefix }}-uk" >
                        <img id="{{ empty_form.image_uk.id_for_label }}-thumbnail" class="card-img-top" src="" alt="">
                    </span>

                    <div class="card-body">
                        <span class="modeltranslation-{{ formset.prefix }}-en" >
                            {{ empty_form.image_en|as_crispy_field }}
                        </span>
                        <span class="modeltranslation-{{ formset.prefix }}-ru" >
                            {{ empty_form.image_ru|as_crispy_field }}
                        </span>
                        <span class="modeltranslation-{{ formset.prefix }}-uk" >
                            {{ empty_form.image_uk|as_crispy_field }}
                        </span>

                        {{ empty_form.is_active|as_crispy_field }}
                    </div>
                {% endwith %}
            </div>
        </div>

        <div class="text-center mt-5">
            <input type="button" onclick="add_empty_form(event, '{{ formset.prefix }}')" class="btn btn-light px-5" value="+" style="font-size: 75px;">
        </div>

        <div class="row">
            <label for="{{ top_banners.carousel.data_interval.id_for_label }}" class="my-auto" style="font-size: 22px; font-weight: normal;">{{top_banners.carousel.data_interval.label}}</label>
            {{ top_banners.carousel.data_interval }}
        </div>

        <div class="text-center mt-4">
            <input type="submit" name="{{ formset.prefix }}" class="btn btn-success" value="{% trans 'Save changes' %}" style="font-size: 20px;">
        </div>
    {% endwith %}
</div>
