{% load crispy_forms_tags %}
{% load static %}

<div class="card mx-4">
  <div class="card-header d-flex mt-2">
    <h4 class="col-11 text-center">
        На главной верх
    </h4>
    <a class="nav-link ml-auto" data-toggle="collapse" href="#collapseTopBanner" role="button" aria-expanded="false" aria-controls="collapseTopBanner">
    <i class="fas fa-bars" style="font-size: 22px;"></i>
    </a>
  </div>
    <div class="collapse bg-light" id="collapseTopBanner">
        <div class="card-body mx-5 mt-1 mb-3">
            <div class="row justify-content-start">
                <h5>Размер: 1000x190</h5>
            </div>
            <div class="row justify-content-center mt-3">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formsets.top_banners.management_form }}
                    <div id="top-banners-list">
                        {% for form in formsets.top_banners %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        <div class="card top-banner">
                            <div class="card-header text-right">
                                {{ form.DELETE|as_crispy_field }}
                            </div>
                            <img class="card-img-top" src="{{ form.instance.image.url }}" alt="" style="width: 550px;">
                            <div class="card-body">
                                {{ form.image|as_crispy_field }}
                                {{ form.is_active|as_crispy_field }}
                            </div>
                        </div>
                        {% endfor %}
                        <div id="top-banners-empty-form" class="hidden">
                            <div class="card-header text-right">
                                {{ formsets.top_banners.empty_form.DELETE|as_crispy_field }}
                            </div>
                            <div class="card-body">
                                {{ formsets.top_banners.empty_form.image|as_crispy_field }}
                                {{ formsets.top_banners.empty_form.is_active|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <input type="button" id="top-banners-add-empty-form" class="btn btn-light px-5" value="+" style="font-size: 75px;">
                    </div>
                    <div class="text-center mt-5">
                        <input type="submit" name="top_banners" class="btn btn-success" value="Сохранить изменения" style="font-size: 20px;">
                    </div>
                </form>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</div>
<!-- /.card -->
