{% extends 'admin/admin_layout.html' %}
{% load static %}

{% block stylesheets %}
{% endblock %}

{% block content-wrapper %}
    <!-- Main top banner -->
<div class="row">
    <section class="col-10 mx-auto">
        <!-- Section header -->
        <div class="container-fluid rounded border border-dark my-3">
            <div class="row content-header mb-2">
                <h1 class="mx-auto">Баннер на главной странице</h1>
            </div>
        </div>
    </section>
    <!-- end of main top banner section-->
    <section class="col-10 mx-auto">
        <!-- Section header -->
        <div class="container-fluid rounded border border-dark my-3">
            <div class="row content-header mb-2">
                <h1 class="mx-auto">Сквозной баннер на заднем фоне</h1>
            </div>
        </div>
    </section>
    <!-- end of main top banner section-->
    <section class="col-10 mx-auto">
        <!-- Section header -->
        <div class="container-fluid rounded border border-dark my-3">
            <div class="row content-header mb-2">
                <h1 class="mx-auto">Новости и Акции</h1>
            </div>
        </div>
    </section>
    <!-- end of main top banner section -->
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

