{% extends 'admin/admin_layout.html' %}
{% load static %}

{% block stylesheets %}
{% endblock %}

{% block content-wrapper %}
<!-- Main top banner -->
<div class="row">
    <section class="col-12 mx-auto">
        <div class="container-fluid mt-3">
            <!-- Section header -->
            <div class="row content-header mb-2">
                <h1 class="mx-auto">Баннеры на главной странице</h1>
            </div>
            <!-- Cards -->
            <div class="row justify-content-around my-4">
                <div class="card card-purple col-3">
                    <!-- Banners header -->
                    <div class="card-header row">
                        <h3 class="card-title">Баннер</h3>
                        <div class="card-tools ml-auto">
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                          </button>
                </div>
                  </div>
                  <!-- form start -->
                  <form>
                    <div class="card-body">
                        <img src="{% static 'img/kong_skull_island.png' %}" alt="thumbnail" class="img-thumbnail">

                      <div class="form-group mt-3">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fileChose1">
                              <label class="custom-file-label" for="fileChose1">Выберите файл</label>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon31">Можно url</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url1" aria-describedby="basic-addon31">
                            </div>
                            <div class="input-group mt-2 mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon312">Описание</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url21" aria-describedby="basic-addon31">
                            </div>
                        </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary mx-auto">Обновить</button>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
                </div>
                <div class="card card-green col-3">
                    <div class="row card-header">
                        <h3 class="card-title">Баннер</h3>
                        <div class="card-tools ml-auto">
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                    </div>
                  <!-- form start -->
                  <form>
                    <div class="card-body">
                        <img src="{% static 'img/kong_skull_island.png' %}" alt="thumbnail" class="img-thumbnail">

                      <div class="form-group mt-3">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fileChose2">
                              <label class="custom-file-label" for="fileChose2">Выберите файл</label>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon32">Можно url</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url2" aria-describedby="basic-addon32">
                            </div>
                        </div>
                        <div class="input-group mt-2 mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon322">Описание</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url22" aria-describedby="basic-addon31">
                            </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary mx-auto">Обновить</button>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
                </div>
                <div class="card card-dark col-3">
                    <div class="row card-header">
                        <h3 class="card-title">Баннер</h3>
                        <div class="card-tools ml-auto">
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                    </div>
                  <!-- form start -->
                  <form>
                    <div class="card-body">
                        <img src="{% static 'img/kong_skull_island.png' %}" alt="thumbnail" class="img-thumbnail">

                      <div class="form-group mt-3">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fileChose3">
                              <label class="custom-file-label" for="fileChose2">Выберите файл</label>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon33">или url</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url3" aria-describedby="basic-addon33">
                            </div>
                        </div>
                        <div class="input-group mt-2 mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon321">Описание</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url31" aria-describedby="basic-addon31">
                            </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary mx-auto">Обновить</button>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
                </div>
            </div>
            <div class="row justify-content-around my-4">
                <div class="card card-red col-3">
                    <!-- Banners header -->
                    <div class="row card-header">
                        <h3 class="card-title">Баннер</h3>
                        <div class="card-tools ml-auto">
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                  </div>
                  <!-- form start -->
                  <form>
                    <div class="card-body">
                        <img src="{% static 'img/kong_skull_island.png' %}" alt="thumbnail" class="img-thumbnail">

                      <div class="form-group mt-3">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fileChose4">
                              <label class="custom-file-label" for="fileChose4">Выберите файл</label>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon34">или url</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url4" aria-describedby="basic-addon34">
                            </div>
                        </div>
                        <div class="input-group mt-2 mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon332">Описание</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url32" aria-describedby="basic-addon31">
                            </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary mx-auto">Обновить</button>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
                </div>
                <div class="card card-yellow col-3">
                    <!-- Banners header -->
                    <div class="row card-header">
                        <h3 class="card-title">Баннер</h3>
                        <div class="card-tools ml-auto">
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                  </div>
                  <!-- form start -->
                  <form>
                    <div class="card-body">
                        <img src="{% static 'img/kong_skull_island.png' %}" alt="thumbnail" class="img-thumbnail">

                      <div class="form-group mt-3">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fileChose5">
                              <label class="custom-file-label" for="fileChose1">Выберите файл</label>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon5">или url</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url5" aria-describedby="basic-addon35">
                            </div>
                        </div>
                        <div class="input-group mt-2 mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon323">Описание</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url23" aria-describedby="basic-addon31">
                            </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary mx-auto">Обновить</button>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
                </div>
                <div class="card card-blue   col-3">
                    <!-- Banners header -->
                    <div class="row card-header">
                        <h3 class="card-title">Баннер</h3>
                        <div class="card-tools ml-auto">
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                  </div>
                  <!-- form start -->
                  <form>
                    <div class="card-body">
                        <img src="{% static 'img/kong_skull_island.png' %}" alt="thumbnail" class="img-thumbnail">

                      <div class="form-group mt-3">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fileChose6">
                              <label class="custom-file-label" for="fileChose1">Выберите файл</label>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon6">или url</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url6" aria-describedby="basic-addon36">
                            </div>
                        </div>
                        <div class="input-group mt-2 mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon36">Описание</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url36" aria-describedby="basic-addon31">
                            </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary mx-auto">Обновить</button>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end of main top banner section-->
    <section class="col-12 mx-auto">
        <!-- Section header -->
        <div class="row border border-dark">
            <div class="col-12 row content-header my-2">
                <h1 class="mx-auto">Сквозной баннер на заднем фоне</h1>
            </div>
            <div class="card card-dark col-6 mt-2 mb-5 mx-auto">
                    <div class="row card-header">
                        <h3 class="card-title">Баннер</h3>
                        <div class="card-tools ml-auto">
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                    </div>
                  <!-- form start -->
                  <form>
                    <div class="card-body">
                        <img src="{% static 'img/kong_skull_island.png' %}" alt="thumbnail" class="img-thumbnail">

                      <div class="form-group mt-3">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fileChose55">
                              <label class="custom-file-label" for="fileChose55">Выберите файл</label>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon355">или url</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url55" aria-describedby="basic-addon33">
                            </div>
                        </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary mx-auto">Обновить</button>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
                </div>

        </div>
    </section>
    <!-- end of main top banner section-->
    <section class="col-12 mx-auto">
        <div class="container-fluid mb-3">
            <!-- Section header -->
            <div class="row content-header my-2">
                <h1 class="mx-auto">Новости и акции</h1>
            </div>
            <!-- Cards -->
            <div class="row justify-content-around my-4">
                <div class="card card-purple col-3">
                    <!-- Banners header -->
                    <div class="card-header row">
                        <h3 class="card-title">Акция</h3>
                        <div class="card-tools ml-auto">
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                          </button>
                </div>
                  </div>
                  <!-- form start -->
                  <form>
                    <div class="card-body">
                        <img src="{% static 'img/promotion.png' %}" alt="thumbnail" class="img-thumbnail">

                      <div class="form-group mt-3">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fileChose1">
                              <label class="custom-file-label" for="fileChose1">Выберите файл</label>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon31">Можно url</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url1" aria-describedby="basic-addon31">
                            </div>
                        </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary mx-auto">Обновить</button>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
                </div>
                <div class="card card-dark col-3">
                    <div class="row card-header">
                        <h3 class="card-title">Новость</h3>
                        <div class="card-tools ml-auto">
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                    </div>
                  <!-- form start -->
                  <form>
                    <div class="card-body">
                        <img src="{% static 'img/news.png' %}" alt="thumbnail" class="img-thumbnail">

                      <div class="form-group mt-3">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fileChose2">
                              <label class="custom-file-label" for="fileChose2">Выберите файл</label>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon32">Можно url</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url2" aria-describedby="basic-addon32">
                            </div>
                        </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary mx-auto">Обновить</button>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
                </div>
                <div class="card card-purple col-3">
                    <div class="row card-header">
                        <h3 class="card-title">Акция</h3>
                        <div class="card-tools ml-auto">
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                    </div>
                  <!-- form start -->
                  <form>
                    <div class="card-body">
                        <img src="{% static 'img/promotion.png' %}" alt="thumbnail" class="img-thumbnail">

                      <div class="form-group mt-3">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fileChose3">
                              <label class="custom-file-label" for="fileChose2">Выберите файл</label>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon33">или url</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url3" aria-describedby="basic-addon33">
                            </div>
                        </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary mx-auto">Обновить</button>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
                </div>
            </div>
            <div class="row justify-content-around my-4">
                <div class="card card-purple col-3">
                    <!-- Banners header -->
                    <div class="row card-header">
                        <h3 class="card-title">Акция</h3>
                        <div class="card-tools ml-auto">
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                  </div>
                  <!-- form start -->
                  <form>
                    <div class="card-body">
                        <img src="{% static 'img/promotion.png' %}" alt="thumbnail" class="img-thumbnail">

                      <div class="form-group mt-3">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fileChose4">
                              <label class="custom-file-label" for="fileChose4">Выберите файл</label>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon34">или url</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url4" aria-describedby="basic-addon34">
                            </div>
                        </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary mx-auto">Обновить</button>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
                </div>
                <div class="card card-dark col-3">
                    <!-- Banners header -->
                    <div class="row card-header">
                        <h3 class="card-title">Новость</h3>
                        <div class="card-tools ml-auto">
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                  </div>
                  <!-- form start -->
                  <form>
                    <div class="card-body">
                        <img src="{% static 'img/news.png' %}" alt="thumbnail" class="img-thumbnail">

                      <div class="form-group mt-3">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fileChose5">
                              <label class="custom-file-label" for="fileChose1">Выберите файл</label>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon5">или url</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url5" aria-describedby="basic-addon35">
                            </div>
                        </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary mx-auto">Обновить</button>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
                </div>
                <div class="card card-dark col-3">
                    <!-- Banners header -->
                    <div class="row card-header">
                        <h3 class="card-title">Новость</h3>
                        <div class="card-tools ml-auto">
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                  </div>
                  <!-- form start -->
                  <form>
                    <div class="card-body">
                        <img src="{% static 'img/news.png' %}" alt="thumbnail" class="img-thumbnail">

                      <div class="form-group mt-3">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fileChose6">
                              <label class="custom-file-label" for="fileChose1">Выберите файл</label>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon6">или url</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url6" aria-describedby="basic-addon36">
                            </div>
                        </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary mx-auto">Обновить</button>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end of main top banner section -->
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

