{% extends 'admin/admin_layout.html' %}
{% load static %}

{% block stylesheets %}
{% endblock %}

{% block movies %}active{% endblock %}

{% block current_page %}Фильмы{% endblock %}

{% block path %}
    <li class="breadcrumb-item active">Фильмы</li>
{% endblock %}

{% block content %}
        <div class="card">
            <div class="card-header d-flex mt-2">
                <h4 class="col-11 text-center">
                    Вышедшие фильмы
                </h4>
                <a class="nav-link ml-auto" data-toggle="collapse" href="#collapseMoviesReleases" role="button" aria-expanded="false" aria-controls="collapseMoviesReleases">
                    <i class="fas fa-bars" style="font-size: 22px;"></i>
                </a>
            </div>
            <div class="collapse bg-light" id="collapseMoviesReleases">
                <div class="card-body">
                    <div class="row justify-content-around">
                        {% for movie_card in releases %}
                            <div class="col-md-4 col-lg-2 card px-0 mt-5 mx-auto mb-5">
                                <a href="{% url 'admin:movie_card' movie_card.pk %}">
                                    <img class="card-img-top" src="{{ movie_card.main_image.url }}" alt="">
                                    <div class="card-body">
                                        <p class="text-center text-dark">{{ movie_card.title }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="card announcements">
            <div class="card-header d-flex mt-2">
                <h4 class="col-11 text-center">
                    Анонсированные фильмы
                </h4>
                <a class="nav-link ml-auto" data-toggle="collapse" href="#collapseMoviesAnnouncements" role="button" aria-expanded="false" aria-controls="collapseMoviesAnnouncements">
                    <i class="fas fa-bars" style="font-size: 22px;"></i>
                </a>
            </div>
            <div class="collapse bg-light" id="collapseMoviesAnnouncements">
                <div class="card-body">
                    <div class="row justify-content-around">
                        {% for movie_card in announcements %}
                            <div class="col-md-4 col-lg-2 card px-0 mt-5 mx-auto mb-5">
                                <a href="{% url 'admin:movie_card' movie_card.pk %}">
                                    <img class="card-img-top" src="{{ movie_card.main_image.url }}" alt="">
                                    <div class="card-body">
                                        <p class="text-center text-dark">{{ movie_card.title }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex mt-2">
                <h4 class="col-11 text-center">
                    Неактивные карточки
                </h4>
            </div>
            <div class="card-body">
                <div class="row justify-content-around">
                    <div class="col-md-4 col-lg-2 px-0 mt-5 mx-auto mb-5 text-center">
                        <a href="{% url 'admin:movie_card' 'new' %}" class="btn btn-light px-5" style="font-size: 75px;">+</a>
                    </div>
                    {% for movie_card in inactive_cards %}
                        <div class="col-md-4 col-lg-2 card px-0 mt-5 mx-auto mb-5">
                            <a href="{% url 'admin:movie_card' movie_card.pk %}">
                                <img class="card-img-top" src="{{ movie_card.main_image.url }}" alt="">
                                <div class="card-body">
                                    <p class="text-center text-dark">{{ movie_card.title }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
