{% extends 'admin/admin_layout.html' %}
{% load static i18n crispy_forms_tags%}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <style>
        form input[type='button'][id*='on_delete'] {
            background: none;
            border: none;
            color: red;
            text-decoration: none;
            cursor: pointer;
            transition: color .35s;
        }
        form input[type='button'][id*='on_delete']:hover {
            color: darkred;
        }
    </style>
{% endblock %}

{% block mailing %}
    active
{% endblock %}

{% block current_page %}
    {% trans 'Mailing' %}
{% endblock %}

{% block path %}
    <li class="breadcrumb-item active">{% trans 'Mailing' %}</li>
{% endblock %}

{% block content %}
    <div class="row mx-5">

        <div class="card col-12">
            <div class="card-header d-flex mt-2">
                <h3 class="col-11 text-center">
                    SMS
                </h3>
                <a class="nav-link ml-auto" data-toggle="collapse" href="#collapseSmsMailing" role="button" aria-expanded="false" aria-controls="collapseSmsMailing">
                    <i class="fas fa-bars" style="font-size: 22px;"></i>
                </a>
            </div>
            <div class="collapse" id="collapseSmsMailing">
                <div class="card-body">
                    {% with SMS as form %}
                    <form id="{{ form.prefix }}-form" action="" method="POST">
                        {% csrf_token %}
                            {{ form.checked_users }}
                            <div class="row mx-5">
                                <div class="col mr-3">
                                    <div class="row">
                                        <div id="{{ form.prefix }}-mailing_type-choices">
                                            {{ form.mailing_type|as_crispy_field }}
                                        </div>

                                        <!-- Button trigger modal -->
                                        <a id="id_{{ form.prefix }}-select_users" class="btn btn-light m-auto" data-toggle="modal" data-target="#modal_{{ form.prefix }}-select_users" style="font-size:20px;">{% trans 'Select users' %}</a>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modal_{{ form.prefix }}-select_users" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-xl" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-dark">
                                                        <h5 class="modal-title">
                                                            {% trans 'Select users for mailing start' %}
                                                        </h5>
                                                    </div>
                                                <div class="modal-body text-center bg-light" style="padding-top: 4vh; padding-bottom: 4vh;">

                                                    <table id="{{ form.prefix }}-usersList" class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>{% trans 'Login' %}</th>
                                                                <th>Email</th>
                                                                <th>{% trans 'Phone number' %}</th>
                                                                <th>{% trans 'First name' %}</th>
                                                                <th>{% trans 'Last name' %}</th>
                                                                <th>{% trans 'Gender' %}</th>
                                                                <th>{% trans 'Language' %}</th>
                                                                <th>{% trans 'Birth date' %}</th>
                                                                <th>{% trans 'Address' %}</th>
                                                                <th>{% trans 'Last visit' %}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for user in users %}
                                                                <tr>
                                                                    <td>
                                                                        <label>
                                                                            <input type="checkbox" id="user-{{ user.pk }}" class="{{ form.prefix }}-mailing">
                                                                        </label>
                                                                    </td>
                                                                    <td>{{ user.username }}</td>
                                                                    <td>{{ user.email }}</td>
                                                                    <td>
                                                                    {% if user.phone %}
                                                                        +38{{ user.phone }}
                                                                    {% else %}
                                                                        <div class="text-center">
                                                                            <i class="fas fa-times text-dark"></i>
                                                                        </div>
                                                                    {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if user.first_name %}
                                                                            {{ user.first_name }}
                                                                        {% else %}
                                                                            <div class="text-center">
                                                                                <i class="fas fa-times text-dark"></i>
                                                                            </div>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if user.last_name %}
                                                                            {{ user.last_name }}
                                                                        {% else %}
                                                                            <div class="text-center">
                                                                                <i class="fas fa-times text-dark"></i>
                                                                            </div>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if user.gender == 'm' %}
                                                                            <p>{% trans 'Male' %}</p>
                                                                        {% elif user.gender == 'f' %}
                                                                            <p>{% trans 'Female' %}</p>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if user.language == 'ru' %}
                                                                            <p>RU</p>
                                                                        {% elif user.language == 'ua' %}
                                                                            <p>UA</p>
                                                                        {% elif user.language == 'en' %}
                                                                            <p>EN</p>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>{{ user.birth_date }}</td>
                                                                    <td>
                                                                        {% if user.address %}
                                                                            {{ user.address }}
                                                                        {% else %}
                                                                            <div class="text-center">
                                                                                <i class="fas fa-times text-dark"></i>
                                                                            </div>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>{{ user.last_login }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>

                                                </div>
                                                <div class="modal-footer bg-dark">
                                                    <button type="button" class="btn btn-success" data-dismiss="modal">
                                                        {% trans 'Accept' %}
                                                    </button>

                                                </div>
                                            </div>
                                          </div>
                                        </div>

                                    </div>
                                    <div class="row justify-content-between mt-3">
                                        <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                                        <p>{% trans 'Symbols count' %}: <span id="id_{{ form.prefix }}-symbols_counter">0</span></p>
                                    </div>
                                    {{ form.message }}
                                </div>
                                <div class="col ml-5 mt-5">
                                    <h4 class="mx-auto my-5 text-center">{% trans 'Count of selected users' %}: <span id="{{ form.prefix }}-checked_users" class="text-info ml-2" style="font-size: 25px;">0</span></h4>
                                    <div class="mx-auto my-5 text-center">
                                        <label id="{{ form.prefix }}-mailing_progress_bar-label" for="{{ form.prefix }}-mailing_progress_bar">{% trans "Mailing wasn't started yet" %}</label>
                                        <div class="progress">
                                            <div id="{{ form.prefix }}-mailing_progress_bar" class="progress-bar bg-primary w-0" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        <div class="text-center mt-4">
                            <input type="submit" name="{{ form.prefix }}" id="start_{{ form.prefix }}_mailing" class="btn btn-info" value="{% trans 'Start mailing' %}" style="font-size: 20px">
                        </div>
                        {% endwith %}

                    </form>
                </div>
            </div>
        </div>

        <div class="card col-12">
            <div class="card-header d-flex mt-2">
                <h3 class="col-11 text-center">
                    E-mail
                </h3>
                <a class="nav-link ml-auto" data-toggle="collapse" href="#collapseEmailMailing" role="button" aria-expanded="false" aria-controls="collapseEmailMailing">
                    <i class="fas fa-bars" style="font-size: 22px;"></i>
                </a>
            </div>
            <div class="collapse" id="collapseEmailMailing">
                <div class="card-body">
                    {% with email as form %}
                    <form id="{{ form.prefix }}-form" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                            {{ form.checked_users }}
                            {{ form.checked_html_message }}
                            {{ form.html_messages_on_delete }}
                            <div class="row mx-5">
                                <div class="col mr-3">
                                    <div class="row">
                                        <div id="{{ form.prefix }}-mailing_type-choices">
                                            {{ form.mailing_type|as_crispy_field }}
                                        </div>
                                        <!-- Button trigger modal -->
                                        <a id="id_{{ form.prefix }}-select_users" class="btn btn-light m-auto" data-toggle="modal" data-target="#modal_{{ form.prefix }}-select_users" style="font-size:20px;">{% trans 'Select users' %}</a>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modal_{{ form.prefix }}-select_users" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-xl" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-dark">
                                                        <h5 class="modal-title">
                                                            {% trans 'Select users for mailing start' %}
                                                        </h5>
                                                    </div>
                                                <div class="modal-body text-center bg-light" style="padding-top: 4vh; padding-bottom: 4vh;">

                                                    <table id="{{ form.prefix }}-usersList" class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>{% trans 'Login' %}</th>
                                                                <th>Email</th>
                                                                <th>{% trans 'Phone number' %}</th>
                                                                <th>{% trans 'First name' %}</th>
                                                                <th>{% trans 'Last name' %}</th>
                                                                <th>{% trans 'Gender' %}</th>
                                                                <th>{% trans 'Language' %}</th>
                                                                <th>{% trans 'Birth date' %}</th>
                                                                <th>{% trans 'Address' %}</th>
                                                                <th>{% trans 'Last visit' %}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for user in users %}
                                                                <tr>
                                                                    <td>
                                                                        <label>
                                                                            <input type="checkbox" id="user-{{ user.pk }}" class="{{ form.prefix }}-mailing">
                                                                        </label>
                                                                    </td>
                                                                    <td>{{ user.username }}</td>
                                                                    <td>{{ user.email }}</td>
                                                                    <td>
                                                                    {% if user.phone %}
                                                                        +38{{ user.phone }}
                                                                    {% else %}
                                                                        <div class="text-center">
                                                                            <i class="fas fa-times text-dark"></i>
                                                                        </div>
                                                                    {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if user.first_name %}
                                                                            {{ user.first_name }}
                                                                        {% else %}
                                                                            <div class="text-center">
                                                                                <i class="fas fa-times text-dark"></i>
                                                                            </div>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if user.last_name %}
                                                                            {{ user.last_name }}
                                                                        {% else %}
                                                                            <div class="text-center">
                                                                                <i class="fas fa-times text-dark"></i>
                                                                            </div>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if user.gender == 'm' %}
                                                                            <p>{% trans 'Male' %}</p>
                                                                        {% elif user.gender == 'f' %}
                                                                            <p>{% trans 'Female' %}</p>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if user.language == 'ru' %}
                                                                            <p>RU</p>
                                                                        {% elif user.language == 'ua' %}
                                                                            <p>UA</p>
                                                                        {% elif user.language == 'en' %}
                                                                            <p>EN</p>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>{{ user.birth_date }}</td>
                                                                    <td>
                                                                        {% if user.address %}
                                                                            {{ user.address }}
                                                                        {% else %}
                                                                            <div class="text-center">
                                                                                <i class="fas fa-times text-dark"></i>
                                                                            </div>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>{{ user.last_login }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>

                                                </div>
                                                <div class="modal-footer bg-dark">
                                                    <button type="button" class="btn btn-success" data-dismiss="modal">
                                                        {% trans 'Accept' %}
                                                    </button>

                                                </div>
                                            </div>
                                          </div>
                                        </div>

                                    </div>
                                    <div class="row justify-content-between mt-3">
                                        {{ form.message|as_crispy_field }}
                                        <div class="card">
                                            <div class="card-header">
                                                <span>{% trans 'Last uploaded html-messages list' %}</span>
                                            </div>
                                            <div class="card-body">
                                                {% for html_message in last_html_messages %}
                                                    <div id="{{ form.prefix }}-last_message_row-{{ html_message.pk }}" class="row mx-2">
                                                        <div class="mr-3">
                                                            <label><input type="checkbox" id="{{ form.prefix }}-last_message-{{ html_message.pk }}"></label>
                                                        </div>
                                                        <div class="mr-auto">
                                                            {{ html_message.name}}
                                                        </div>

                                                        <div class="ml-auto">
                                                            <input type="button" id="{{ form.prefix }}-on_delete-{{ html_message.pk }}" class="py-0" value="{% trans 'Delete' %}">
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col ml-5 mt-5">
                                    <h4 class="mx-auto my-5 text-center">{% trans 'Count of selected users' %}:<span id="{{ form.prefix }}-checked_users" class="text-info ml-2" style="font-size: 25px;">0</span></h4>
                                    <div class="mx-auto my-5 text-center">
                                        <label id="{{ form.prefix }}-mailing_progress_bar-label" for="{{ form.prefix }}-mailing_progress_bar">{% trans "Mailing wasn't started yet" %}</label>
                                        <div class="progress">
                                            <div id="{{ form.prefix }}-mailing_progress_bar" class="progress-bar bg-primary w-0" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        <div class="text-center mt-4">
                            <button type="submit" name="{{ form.prefix }}" id="start_{{ form.prefix }}_mailing" class="btn btn-info" style="font-size: 20px">{% trans 'Start mailing' %}</button>
                        </div>
                        {% endwith %}

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<!--init DataTable and checkboxes toggle engine-->
<script>
    let USERS_TABLE = {}, CHECKED_COUNTER = {};

    function initDataTable(prefix) {
        CHECKED_COUNTER[prefix] = 0

        USERS_TABLE[prefix] = $(`#${prefix}-usersList`).DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        });

        // checkboxes EventListener for the dynamic counter label change
        let checkboxes_list = USERS_TABLE[prefix].rows().nodes()

         $(`.${prefix}-mailing`, checkboxes_list).on('change', function () {
            if ($(this).prop("checked")) {
               CHECKED_COUNTER[prefix]++ } else { CHECKED_COUNTER[prefix]--
            }
            document.getElementById(`${prefix}-checked_users`).innerHTML = `${CHECKED_COUNTER[prefix]}`
         })
        //

        let left_header_part = document.getElementById(`${prefix}-usersList_wrapper`).getElementsByClassName('col-sm-12')[0]
        left_header_part.innerHTML = `
            <div class="text-left">
                <span class="btn btn-light mt-2 ml-3 px-2" onclick="toggleAllCheckboxes(true, '${prefix}')"><i class="fas fa-check pr-2 text-success"></i>{% trans 'Select all' %}</span>
                <span class="btn btn-light mt-2 ml-3 px-2" onclick="toggleAllCheckboxes(false, '${prefix}')"><i class="fas fa-minus pr-2 text-secondary"></i>{% trans 'Clear all' %}</span>
            </div>
        `
    }


    function toggleAllCheckboxes(check_all, prefix) {
        let checkboxes_list = USERS_TABLE[prefix].rows().nodes()
        {#console.log(checkboxes_list)#}

        if (check_all) {
            $(`.${prefix}-mailing`,checkboxes_list).each(function () {
                $(this).prop("checked", true);
            })
            CHECKED_COUNTER[prefix] = checkboxes_list.length
        } else {
            $(`.${prefix}-mailing`,checkboxes_list).each(function () {
                $(this).prop("checked", false);
            })
            CHECKED_COUNTER[prefix] = 0
        }

        document.getElementById(`${prefix}-checked_users`).innerHTML = `${CHECKED_COUNTER[prefix]}`

    }
</script>

<!--Toggle UsersSelectButton-->
<script>
    function initSelectUsersButton(prefix) {
        let mailingTypeChoices = document.getElementById(`${prefix}-mailing_type-choices`).getElementsByTagName('INPUT');
        let usersSelectButton = document.getElementById(`id_${prefix}-select_users`);

        if (mailingTypeChoices[0].checked) {
            usersSelectButton.className += ' disabled';
            toggleAllCheckboxes(true, prefix);
        }

        for (let i=0; i < mailingTypeChoices.length; i++){
            mailingTypeChoices[i].onchange = () => {
                if (mailingTypeChoices[0].checked) {
                    usersSelectButton.className += ' disabled'
                    toggleAllCheckboxes(true, prefix)
                } else {
                    usersSelectButton.className = usersSelectButton.className.replace(RegExp(' disabled'), '')
                }
            }
        }
    }
</script>

<!--Dynamic textArea symbols counter-->
<script>
    function initTextSymbolsCounter(prefix) {
        let textArea = document.querySelector(`#id_${prefix}-message`)
        let symbolsCounter = document.querySelector(`#id_${prefix}-symbols_counter`)

        textArea.onkeyup = () => {
            symbolsCounter.innerHTML = textArea.value.length
        }
    }
</script>

<!--init select html message engine-->
<script>
    function initSelectHtmlMessage(prefix) {
        const htmlMessageSelectElements = [...document.querySelectorAll(`[id*="${prefix}-last_message-"]`)];
        const fileInput = document.getElementById(`id_${prefix}-message`)
        htmlMessageSelectElements.push(fileInput)

        for (let i = 0; i < htmlMessageSelectElements.length; i++) {
            let element = htmlMessageSelectElements[i]
            element.onchange = (event) => {
                const lastChecked = event.currentTarget

                for (let i = 0; i < htmlMessageSelectElements.length; i++) {
                    let element = htmlMessageSelectElements[i]
                    if (element !== lastChecked) {
                        if (element.type === 'checkbox') {
                            element.checked = false } else { element.value = ''
                        }
                    }
                }

            }
        }
    }
</script>

<!--init cached html message delete-->
<script>
    // Event listener binding for html-message file delete
    function initCachedHtmlMessageDelete(prefix) {
        const htmlMessageDeleteButtonElements = [...document.querySelectorAll(`[id*="${prefix}-on_delete-"]`)];
        const htmlMessagesOnDelete = document.getElementById(`id_${prefix}-html_messages_on_delete`);

        // visually remove already checked on_delete html-messages when page reload happened because of ValidationError
        const onDeleteList = JSON.parse(htmlMessagesOnDelete.value)
        for (let i=0; i < onDeleteList.length; i++) {
            document.getElementById(`${prefix}-last_message_row-${onDeleteList[i]}`).remove()
        }
        //

        for (let i=0; i < htmlMessageDeleteButtonElements.length; i++) {
            const on_delete = htmlMessageDeleteButtonElements[i]
            const row = document.getElementById(`${on_delete.id.replace(RegExp('on_delete'), 'last_message_row')}`);
            const checkbox = document.getElementById(`${on_delete.id.replace(RegExp('on_delete'), 'last_message')}`);

            on_delete.onclick = () => {
                row.remove()
                checkbox.checked = false;

                const value = JSON.parse(htmlMessagesOnDelete.value)
                value.push(on_delete.id.split('on_delete-')[1])

                htmlMessagesOnDelete.value = JSON.stringify(value);
            }
        }
    }
</script>

<!--ProgressBar-->
<script>
    let SOCKET = {};

    function initDynamicProgressBar(prefix) {
        SOCKET[prefix] = new WebSocket(`ws://0.0.0.0:8000/ws/${prefix}-mailing/`);
        SOCKET[prefix].onmessage = function(event) {
            let progress = event.data;
            let progress_bar = document.getElementById(`${prefix}-mailing_progress_bar`);

            document.getElementById(`${prefix}-mailing_progress_bar-label`).innerHTML = `{% trans 'Mailing complete on ' %}${progress}%`;
            progress_bar['aria-valuenow'] = progress;
            progress_bar.style = `width: ${progress}%;`;

            const submitButton = document.getElementById(`start_${prefix}_mailing`)
            const form = $(`#${prefix}-form`)

            if (progress_bar['aria-valuenow'] === '100') {
                progress_bar.className = progress_bar.className.replace(RegExp('bg-primary'), 'bg-success')
                submitButton.className = submitButton.className.replace(RegExp(' disabled'), '')
                form.unbind('submit')
            } else {
                if (!submitButton.className.includes(' disabled')) {
                    submitButton.className += ' disabled'
                    form.bind('submit', (event) => {
                        event.preventDefault(); // <==stop page refresh==>
                    });
                }
            }
        }
    }
</script>

<!--init checked_users_list collecting before making POST-->
<script>
    function initStartMailingButton(prefix) {
        document.getElementById(`start_${prefix}_mailing`).addEventListener('click', () => {
            const checkboxes_list = USERS_TABLE[prefix].rows().nodes();
            let checked_checkboxes = [];

            $(`.${prefix}-mailing`,checkboxes_list).each(function () {
                if ($(this).prop("checked")) {
                    checked_checkboxes.push(parseInt($(this).prop('id').replace(RegExp('user-'), '')));
                }
            });

            document.getElementById(`id_${prefix}-checked_users`).value = JSON.stringify(checked_checkboxes);
        });
    }
</script>

<!--init select html message hidden input before making POST-->
<script>
    function initSelectHtmlMessagePOST(prefix) {
        const checkedHtmlMessage = document.getElementById(`id_${prefix}-checked_html_message`)
        const submitButton = document.getElementById(`start_${prefix}_mailing`)
        submitButton.addEventListener('click', () => {
            let checkbox = document.querySelector(`[type="checkbox"][id*="${prefix}-last_message-"]:checked`)
            if (checkbox) {
                checkedHtmlMessage.value = checkbox.id.split('-last_message-')[1]
            }
        })
    }
</script>

<!--init multiple html forms for working with django and js-->
<script>
    const SMS_prefix = '{{ SMS.prefix }}' , email_prefix = '{{ email.prefix }}'
    const prefixes = [SMS_prefix, email_prefix];
    let prefix;

    initTextSymbolsCounter(SMS_prefix)

    initSelectHtmlMessage(email_prefix)
    initCachedHtmlMessageDelete(email_prefix)

    for (let i=0; i < prefixes.length; i++) {
        prefix = prefixes[i];

        initDataTable(prefix);
        initSelectUsersButton(prefix);
        initDynamicProgressBar(prefix);
        initStartMailingButton(prefix);
    }

    initSelectHtmlMessagePOST(prefix)
</script>
{% endblock %}
