{% extends 'admin/admin_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheets %}
<style>
    form input[type='button'][class*='on_delete'] {
        background: none;
        border: none;
        color: red;
        text-decoration: none;
        cursor: pointer;
        transition: color .35s;
    }
    form input[type='button'][class*='on_delete']:hover {
        color: darkred;
    }
</style>
{% endblock %}

{% block mailing %}active{% endblock %}

{% block current_page %}Рассылка{% endblock %}

{% block path %}
    <li class="breadcrumb-item active">Рассылка</li>
{% endblock %}

{% block content %}
    <div class="row mx-5">

        <div class="card col-sm-12">
            <div class="card-header text-center pb-0">
                <h4>SMS</h4>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% with forms.SMS as form %}
                        {{ form.checked_users }}
                        <div class="row mx-5">
                            <div class="col mr-3">
                                <div class="row">
                                    <div id="{{ form.prefix }}-mailing_type-choices">
                                        {{ form.mailing_type|as_crispy_field }}
                                    </div>

                                    <!-- Button trigger modal -->
                                    <a id="id_{{ form.prefix }}-select_users" class="btn btn-light m-auto" data-toggle="modal" data-target="#modal_{{ form.prefix }}-select_users" style="font-size:20px;">Выбрать пользователей</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modal_{{ form.prefix }}-select_users" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-dark">
                                                    <h5 class="modal-title">
                                                        Выберите пользователей для начала рассылки
                                                    </h5>
                                                </div>
                                            <div class="modal-body text-center bg-light" style="padding-top: 4vh; padding-bottom: 4vh;">

                                                <table id="{{ form.prefix }}-usersList" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Логин</th>
                                                            <th>Email</th>
                                                            <th>Номер телефона</th>
                                                            <th>Имя</th>
                                                            <th>Фамилия</th>
                                                            <th>Пол</th>
                                                            <th>Язык</th>
                                                            <th>Дата рождения</th>
                                                            <th>Адрес</th>
                                                            <th>Был(а)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for user in users %}
                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        <input type="checkbox" id="user-{{ user.pk }}" class="{{ form.prefix }}-mailing">
                                                                    </label>
                                                                </td>
                                                                <td>{{ user.username }}</td>
                                                                <td>{{ user.email }}</td>
                                                                <td>
                                                                {% if user.phone %}
                                                                    +38{{ user.phone }}
                                                                {% else %}
                                                                    <div class="text-center">
                                                                        <i class="fas fa-times text-dark"></i>
                                                                    </div>
                                                                {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if user.first_name %}
                                                                        {{ user.first_name }}
                                                                    {% else %}
                                                                        <div class="text-center">
                                                                            <i class="fas fa-times text-dark"></i>
                                                                        </div>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if user.last_name %}
                                                                        {{ user.last_name }}
                                                                    {% else %}
                                                                        <div class="text-center">
                                                                            <i class="fas fa-times text-dark"></i>
                                                                        </div>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if user.gender == 'm' %}
                                                                        <p>Мужской</p>
                                                                    {% elif user.gender == 'f' %}
                                                                        <p>Женский</p>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if user.language == 'ru' %}
                                                                        <p>RU</p>
                                                                    {% elif user.language == 'ua' %}
                                                                        <p>UA</p>
                                                                    {% elif user.language == 'en' %}
                                                                        <p>EN</p>
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ user.birth_date }}</td>
                                                                <td>
                                                                    {% if user.address %}
                                                                        {{ user.address }}
                                                                    {% else %}
                                                                        <div class="text-center">
                                                                            <i class="fas fa-times text-dark"></i>
                                                                        </div>
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ user.last_login }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>

                                            </div>
                                            <div class="modal-footer bg-dark">
                                                <button type="button" class="btn btn-success" data-dismiss="modal">
                                                    Принять
                                                </button>

                                            </div>
                                        </div>
                                      </div>
                                    </div>

                                </div>
                                <div class="row justify-content-between mt-3">
                                    <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                                    <p>Символов: <span id="id_{{ form.prefix }}-symbols_counter">0</span></p>
                                </div>
                                {{ form.message }}
                            </div>
                            <div class="col ml-5 mt-5">
                                <h4 class="mx-auto my-5 text-center">Пользователей выбрано: <span id="{{ form.prefix }}-checked_users" class="text-info" style="font-size: 25px;">0</span></h4>
                                <div class="mx-auto my-5 text-center">
                                    <label id="{{ form.prefix }}-mailing_progress_bar-label" for="{{ form.prefix }}-mailing_progress_bar">Рассылка еще не началась</label>
                                    <div class="progress">
                                        <div id="{{ form.prefix }}-mailing_progress_bar" class="progress-bar bg-primary w-0" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    <div class="text-center mt-4">
                        <input type="submit" name="{{ form.prefix }}" id="start_{{ form.prefix }}_mailing" class="btn btn-info" value="Начать рассылку" style="font-size: 20px">
                    </div>
                    {% endwith %}

                </form>
            </div>

        </div>

        <div class="card col-sm-12 pb-5 announcements">
            <div class="card-header text-center pb-0">
                <h3>E-mail</h3>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {% with forms.email as form %}
                        {{ form.checked_users }}
                        {{ form.checked_html_message }}
                        {{ form.html_messages_on_delete }}
                        <div class="row mx-5">
                            <div class="col mr-3">
                                <div class="row">
                                    <div id="{{ form.prefix }}-mailing_type-choices">
                                        {{ form.mailing_type|as_crispy_field }}
                                    </div>
                                    <!-- Button trigger modal -->
                                    <a id="id_{{ form.prefix }}-select_users" class="btn btn-light m-auto" data-toggle="modal" data-target="#modal_{{ form.prefix }}-select_users" style="font-size:20px;">Выбрать пользователей</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modal_{{ form.prefix }}-select_users" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-dark">
                                                    <h5 class="modal-title">
                                                        Выберите пользователей для начала рассылки
                                                    </h5>
                                                </div>
                                            <div class="modal-body text-center bg-light" style="padding-top: 4vh; padding-bottom: 4vh;">

                                                <table id="{{ form.prefix }}-usersList" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Логин</th>
                                                            <th>Email</th>
                                                            <th>Номер телефона</th>
                                                            <th>Имя</th>
                                                            <th>Фамилия</th>
                                                            <th>Пол</th>
                                                            <th>Язык</th>
                                                            <th>Дата рождения</th>
                                                            <th>Адрес</th>
                                                            <th>Был(а)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for user in users %}
                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        <input type="checkbox" id="user-{{ user.pk }}" class="{{ form.prefix }}-mailing">
                                                                    </label>
                                                                </td>
                                                                <td>{{ user.username }}</td>
                                                                <td>{{ user.email }}</td>
                                                                <td>
                                                                {% if user.phone %}
                                                                    +38{{ user.phone }}
                                                                {% else %}
                                                                    <div class="text-center">
                                                                        <i class="fas fa-times text-dark"></i>
                                                                    </div>
                                                                {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if user.first_name %}
                                                                        {{ user.first_name }}
                                                                    {% else %}
                                                                        <div class="text-center">
                                                                            <i class="fas fa-times text-dark"></i>
                                                                        </div>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if user.last_name %}
                                                                        {{ user.last_name }}
                                                                    {% else %}
                                                                        <div class="text-center">
                                                                            <i class="fas fa-times text-dark"></i>
                                                                        </div>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if user.gender == 'm' %}
                                                                        <p>Мужской</p>
                                                                    {% elif user.gender == 'f' %}
                                                                        <p>Женский</p>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if user.language == 'ru' %}
                                                                        <p>RU</p>
                                                                    {% elif user.language == 'ua' %}
                                                                        <p>UA</p>
                                                                    {% elif user.language == 'en' %}
                                                                        <p>EN</p>
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ user.birth_date }}</td>
                                                                <td>
                                                                    {% if user.address %}
                                                                        {{ user.address }}
                                                                    {% else %}
                                                                        <div class="text-center">
                                                                            <i class="fas fa-times text-dark"></i>
                                                                        </div>
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ user.last_login }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>

                                            </div>
                                            <div class="modal-footer bg-dark">
                                                <button type="button" class="btn btn-success" data-dismiss="modal">
                                                    Принять
                                                </button>

                                            </div>
                                        </div>
                                      </div>
                                    </div>

                                </div>
                                <div class="row justify-content-between mt-3">
                                    {{ form.message|as_crispy_field }}
                                    <div class="card">
                                        <div class="card-header">
                                            <span>Список последних загруженных шаблонов</span>
                                        </div>
                                        <div class="card-body">
                                            {% for html_message in last_html_messages %}
                                                <div class="row mx-2">
                                                    <div class="mr-3">
                                                        <label><input type="checkbox" id="{{ form.prefix }}-last_message-{{ html_message.pk }}"></label>
                                                    </div>
                                                    <div class="mr-auto">
                                                        {{ html_message.name}}
                                                    </div>

                                                    <div class="ml-auto">
                                                        <input type="button" id="{{ form.prefix }}-on_delete-{{ html_message.pk }}" class="py-0" value="Удалить">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col ml-5 mt-5">
                                <h4 class="mx-auto my-5 text-center">Пользователей выбрано: <span id="{{ form.prefix }}-checked_users" class="text-info" style="font-size: 25px;">0</span></h4>
                                <div class="mx-auto my-5 text-center">
                                    <label id="{{ form.prefix }}-mailing_progress_bar-label" for="{{ form.prefix }}-mailing_progress_bar">Рассылка еще не началась</label>
                                    <div class="progress">
                                        <div id="{{ form.prefix }}-mailing_progress_bar" class="progress-bar bg-primary w-0" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    <div class="text-center mt-4">
                        <input type="submit" name="{{ form.prefix }}" id="start_{{ form.prefix }}_mailing" class="btn btn-info" value="Начать рассылку" style="font-size: 20px">
                    </div>
                    {% endwith %}

                </form>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<!--init DataTable and checkboxes toggle engine-->
<script>
    let CHECKED_COUNTER = {};

    function initDataTable(prefix) {
        CHECKED_COUNTER[prefix] = 0

        $(`#${prefix}-usersList`).DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        });

        // checkboxes EventListener for the dynamic counter label change
        const checkboxes_list = document.getElementsByClassName(`${prefix}-mailing`)

        for (let i=0; i < checkboxes_list.length; i++) {
            let user_checkbox = checkboxes_list[i]
            user_checkbox.onchange = () => {
                if (user_checkbox.checked) {
                    CHECKED_COUNTER[prefix]++ } else { CHECKED_COUNTER[prefix]--
                }
                document.getElementById(`${prefix}-checked_users`).innerHTML = `${CHECKED_COUNTER[prefix]}`
            }
        }
        //

        let left_header_part = document.getElementById(`${prefix}-usersList_wrapper`).getElementsByClassName('col-sm-12')[0]
        left_header_part.innerHTML = `
            <div class="text-left">
                <span class="btn btn-light mt-2 ml-3 px-2" onclick="toggleAllCheckboxes(true, '${prefix}')"><i class="fas fa-check pr-2 text-success"></i>Выделить всех</span>
                <span class="btn btn-light mt-2 ml-3 px-2" onclick="toggleAllCheckboxes(false, '${prefix}')"><i class="fas fa-minus pr-2 text-secondary"></i>Очистить</span>
            </div>
        `
        }

    function toggleAllCheckboxes(check_all, prefix) {
        const checkboxes_list = document.getElementsByClassName(`${prefix}-mailing`)

        if (check_all) {
            for (let i=0; i < checkboxes_list.length; i++) {
                checkboxes_list[i].checked = true
            }
            CHECKED_COUNTER[prefix] = checkboxes_list.length

        } else {
            for (let i=0; i < checkboxes_list.length; i++) {
                checkboxes_list[i].checked = false
            }
            CHECKED_COUNTER[prefix] = 0
        }

        document.getElementById(`${prefix}-checked_users`).innerHTML = `${CHECKED_COUNTER[prefix]}`

    }
</script>

<!--Toggle UsersSelectButton-->
<script>
    function initSelectUsersButton(prefix) {
        let mailingTypeChoices = document.getElementById(`${prefix}-mailing_type-choices`).getElementsByTagName('INPUT');
        let usersSelectButton = document.getElementById(`id_${prefix}-select_users`);

        if (mailingTypeChoices[0].checked) {
            usersSelectButton.className += ' disabled';
            toggleAllCheckboxes(true, prefix);
        }

        for (let i=0; i < mailingTypeChoices.length; i++){
            mailingTypeChoices[i].onchange = () => {
                if (mailingTypeChoices[0].checked) {
                    usersSelectButton.className += ' disabled'
                    toggleAllCheckboxes(true, prefix)
                } else {
                    usersSelectButton.className = usersSelectButton.className.replace(RegExp(' disabled'), '')
                }
            }
        }
    }
</script>

<!--Dynamic textArea symbols counter-->
<script>
    function initTextSymbolsCounter(prefix) {
        let textArea = document.querySelector(`#id_${prefix}-message`)
        let symbolsCounter = document.querySelector(`#id_${prefix}-symbols_counter`)

        textArea.onkeyup = () => {
            symbolsCounter.innerHTML = textArea.value.length
        }
    }
</script>

<!--init select html message engine-->
<script>
    function initSelectHtmlMessage(prefix) {
        // Event listener binding for single-choice file inputs
        const htmlMessageSelectElements = [...document.querySelectorAll(`[id*="${prefix}-last_message-"]`)];
        const fileInput = document.getElementById(`id_${prefix}-message`)
        htmlMessageSelectElements.push(fileInput)

        for (let i = 0; i < htmlMessageSelectElements.length; i++) {
            let element = htmlMessageSelectElements[i]
            element.onchange = (event) => {

                const lastChecked = event.currentTarget
                for (let i = 0; i < htmlMessageSelectElements.length; i++) {
                    let element = htmlMessageSelectElements[i]
                    if (element !== lastChecked) {
                        if (element.type === 'checkbox') {
                            element.checked = false } else { element.value = ''
                        }
                    }
                }
            }
        }
    }
</script>

<!--init data collecting before make POST-->
<script>
    function initStartMailingButton(prefix) {
        document.getElementById(`start_${prefix}_mailing`).onclick = () => {
            const checkboxes_list = document.getElementsByClassName(`${prefix}-mailing`)
            let checked_checkboxes = [...checkboxes_list].filter(checkbox => checkbox.checked)

            for (let i=0; i < checked_checkboxes.length; i++) {
                checked_checkboxes[i] = parseInt(checked_checkboxes[i].id.replace(RegExp('user-'), ''))
            }
            document.getElementById(`id_${prefix}-checked_users`).value = JSON.stringify(checked_checkboxes)
        }
    }
</script>

<!--ProgressBar-->
<script>
    function initDynamicProgressBar(prefix) {
        SOCKET[prefix] = new WebSocket(`ws://localhost:8000/ws/${prefix}-mailing/`);
        SOCKET[prefix].onmessage = function(event) {
            let progress = event.data;
            let progress_bar = document.getElementById(`${prefix}-mailing_progress_bar`);

            document.getElementById(`${prefix}-mailing_progress_bar-label`).innerHTML = `Рассылка завершена на ${progress}%`;
            progress_bar['aria-valuenow'] = progress;
            progress_bar.style = `width: ${progress}%;`;

            if (progress_bar['aria-valuenow'] === '100') {
                progress_bar.className = progress_bar.className.replace(RegExp('bg-primary'), 'bg-success')
            }
        }
    }
</script>

<!--init multiple html forms for working with django and js-->
<script>
    const prefixes = ['{{ forms.SMS.prefix }}', '{{ forms.email.prefix }}'];
    let prefix;
    let SOCKET = {};

    initTextSymbolsCounter('{{ forms.SMS.prefix }}')
    initSelectHtmlMessage('{{ forms.email.prefix }}')
    for (let i=0; i < prefixes.length; i++) {
        prefix = prefixes[i];

        initDataTable(prefix);
        initSelectUsersButton(prefix);
        initStartMailingButton(prefix);
        initDynamicProgressBar(prefix);
    }
</script>
{% endblock %}
