{% extends 'user/sign-layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class="row" style="margin-top: 200px; margin-bottom: 100px;">
  <div class="col-md-6 mx-auto">
    <h3 class="text-center">Авторизация</h3>
    <hr>
    <form action="" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-primary px-5" value="Войти">
    </form>
    <div class="form-group form-check mt-3 text-center">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
    </div>
    <hr>
    <div class="row my-2">
      <span class="col-12">Еще нет учетной записи?</span>
      <a href="{% url 'signup' %}" class="col-6 ml-auto" style="">Пройти регистрацию</a>
    </div>

  </div>

</div>
{% endblock %}

