{% extends 'user/sign-layout.html' %}
{% load static i18n crispy_forms_tags %}

{% block title %}{% trans 'Registration' %}{% endblock %}

{% block content %}

<div class="row" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="col-md-7 mx-auto">
    <h3 class="text-center">{% trans 'Registration' %}</h3>
    <hr>
    <form action="" method="POST">
      {% csrf_token %}
      {% for field in form %}
        {{ field|as_crispy_field }}
      {% endfor %}
      <input type="submit" class="btn btn-primary px-5" value="{% trans 'Registrate' %}">
    </form>
  </div>
</div>

{% endblock %}