{% extends 'admin/admin_layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'admin/css/custom_delete_checkbox.css' %}">
<link rel="stylesheet" href="{% static 'plugins/toastr/toastr.css' %}">

<!-- for make bootstrapped checkboxes group inline -->
<link rel="stylesheet" href="{% static 'admin/css/checkbox-list-inline.css' %}">
{% endblock %}

{% block pages %}active{% endblock %}

{% block current_page %}{{ title }}{% endblock %}

{% block path %}
<li class="breadcrumb-item"><a href="{% url 'pages' %}">Акции </a></li>
<li class="breadcrumb-item active">{{ title }}</li>
<li class="breadcrumb-item active">{{ pk }}</li>
{% endblock %}

{% block content %}
{% with main_image_width=page.required_size.0 main_image_height=page.required_size.1  gallery_width=gallery.required_size.0 gallery_height=gallery.required_size.1 %}
<style>
    .hidden {
        display: none;
    }
</style>

<div class="col-11 card pb-5 mx-auto releases">
    <div class="card-body" id="released-movies-list">
        <form method="POST" enctype="multipart/form-data" class="mx-5 mt-4">
            {% csrf_token %}
            {% with page.form as form %}
                <div class="text-right mb-4">
                    <div class="custom-control custom-switch">
                        {{ form.is_active }}
                        <label for="{{ form.is_active.id_for_label }}" class="custom-control-label" style="transform: scale(1.5)"></label>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-5 p-0">
                        {{ form.title|as_crispy_field }}
                    </div>
                </div>
                {{ form.description|as_crispy_field }}

                <div class="col-md-4 col-lg-5 card px-0 mt-5 mx-auto mb-5">
                    <div class="card-header">
                        <p>Размер: {{ main_image_width }}x{{ main_image_height }}</p>
                    </div>
                    <img id="{{ form.main_image.id_for_label }}-thumbnail" class="card-img-top" src="{% if form.instance.main_image %}{{ form.instance.main_image.url }}{% endif %}" alt="">
                    <div class="card-body">
                        {{ form.main_image|as_crispy_field }}
                    </div>
                </div>


                <label>Галерея изображений акции</label>
                <h5 class="ml-5">Размер: {{ gallery_width }}x{{ gallery_height }}</h5>
                <div class="container-fluid">
                    {% with gallery.formset as formset %}
                        {{ formset.management_form }}
                        <div class="row justify-content-between justify-content-around" id="{{ formset.prefix }}-list">
                            {% for form in formset %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            <div class="col-md-4 col-lg-2 card px-0 mt-5 mx-1 {{ formset.prefix }}">
                                <div class="card-header text-right">
                                    {{ form.DELETE|as_crispy_field }}
                                </div>
                                <img id="{{ form.image.id_for_label }}-thumbnail" class="card-img-top" src="{% if form.instance.image %}{{ form.instance.image.url }}{% endif %}" alt="">
                                <div class="card-body">
                                    {{ form.image|as_crispy_field }}
                                    {{ form.is_active|as_crispy_field }}
                                </div>
                            </div>
                            {% endfor %}
                            <div id="{{ formset.prefix }}-empty-form" class="col-md-4 col-lg-2 card px-0 mt-5 mx-1 hidden">
                                {% with formset.empty_form as empty_form %}
                                    <div class="card-header text-right">
                                        {{ empty_form.DELETE|as_crispy_field }}
                                    </div>
                                    <img id="{{ empty_form.image.id_for_label }}-thumbnail" class="card-img-top" src="" alt="">
                                    <div class="card-body">
                                        {{ empty_form.image|as_crispy_field }}
                                        {{ empty_form.is_active|as_crispy_field }}
                                    </div>
                                {% endwith %}
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <input type="button" onclick="add_empty_form(event, '{{ formset.prefix }}')" class="btn btn-light px-5" value="+" style="font-size: 75px;">
                        </div>
                    {% endwith %}
                </div>

                <label>SEO блок:</label>
                <div class="container">
                    {% for field in seo.form %}
                        {{ field|as_crispy_field }}
                    {% endfor %}
                </div>
            {% endwith %}
            <div class="text-center mt-4">
                <input type="submit" class="btn btn-success px-4" value="Сохранить" style="font-size: 20px;">
                <a href="{{ currentUrl }}" class="btn btn-primary px-4 ml-5" style="font-size: 20px;">Вернуть исходное состояние</a>
            </div>
        </form>
    </div>
</div>
{% endwith %}
{% endblock %}

{% block scripts %}
{% with main_image_width=page.required_size.0 main_image_height=page.required_size.1  gallery_width=gallery.required_size.0 gallery_height=gallery.required_size.1 %}
<script>
    const required_sizes = {
        '{{ page.form.prefix }}': ['{{ main_image_width }}', '{{ main_image_height }}'],
        '{{ gallery.formset.prefix }}': ['{{ gallery_width }}', '{{ gallery_height }}'],
    }
</script>
{% endwith %}

<script src="{% static 'admin/js/dynamic_formset.js' %}"></script>
<script src="{% static 'admin/js/dynamic_image_select.js' %}"></script>

<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'admin/js/custom_toastr.js' %}"></script>

<script src="{% static 'admin/js/single-choice-checkbox.js' %}"></script>
{% endblock %}
