.text-center i, .buttons a {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.text-center i{
    font-size: 25px;
}

.buttons a {
    font-size: 19px;
}

.card-body {
    overflow-x: scroll;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}