{% extends 'admin/admin_layout.html' %}
{% load static %}

{% block stylesheets %}
{% endblock %}

{% block banners %}active{% endblock %}

{% block current_page %}{{ title }}{% endblock %}

{% block path %}
<li class="breadcrumb-item active">{{ title }}</li>
{% endblock %}


{% block content %}
<div class="card mx-4">
  <div class="card-header d-flex mt-2">
    <h4 class="col-11 text-center">
        На главной верх
    </h4>
    <a class="nav-link ml-auto" data-toggle="collapse" href="#collapseTopBanner" role="button" aria-expanded="false" aria-controls="collapseTopBanner">
    <i class="fas fa-bars" style="font-size: 22px;"></i>
    </a>
  </div>
    <div class="collapse" id="collapseTopBanner">
        <div class="card-body mx-5 mt-1">
            <div class="row justify-content-start">
                <h5>Размер: 1000x190</h5>
            </div>
            <div class="row justify-content-center mt-3 mb-5">
                Место под карточки
            </div>
            <div class="row justify-content-around mb-2">
                <p>Скорость вращения</p>
                <button class="btn btn-success">Сохранить изменения</button>
                <span class="col-1"></span>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</div>
<!-- /.card -->
<div class="card mx-4">
  <div class="card-header d-flex mt-2">
    <h4 class="col-11 text-center">
        На главной фон
    </h4>
    <a class="nav-link ml-auto" data-toggle="collapse" href="#collapseBackgroundBanner" role="button" aria-expanded="false" aria-controls="collapseBackgroundBanner">
    <i class="fas fa-bars" style="font-size: 22px;"></i>
    </a>
  </div>
    <div class="collapse" id="collapseBackgroundBanner">
        <div class="card-body mx-5 mt-1">
            <div class="row justify-content-start">
                <h5>Размер: 2000x3000</h5>
            </div>
            <div class="row justify-content-center mt-3 mb-5">
                Место под карточки
            </div>
            <div class="row justify-content-around mb-2">
                <p>Скорость вращения</p>
                <button class="btn btn-success">Сохранить изменения</button>
                <span class="col-1"></span>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</div>
<!-- /.card -->
<div class="card mx-4">
  <div class="card-header d-flex mt-2">
    <h4 class="col-11 text-center">
        На главной Новости | Акции
    </h4>
    <a class="nav-link ml-auto" data-toggle="collapse" href="#collapseNewsBanner" role="button" aria-expanded="false" aria-controls="collapseNewsBanner">
    <i class="fas fa-bars" style="font-size: 22px;"></i>
    </a>
  </div>
    <div class="collapse" id="collapseNewsBanner">
        <div class="card-body mx-5 mt-1">
            <div class="row justify-content-start">
                <h5>Размер: 1000x190</h5>
            </div>
            <div class="row justify-content-center mt-3 mb-5">
                Место под карточки
            </div>
            <div class="row justify-content-around mb-2">
                <p>Скорость вращения</p>
                <button class="btn btn-success">Сохранить изменения</button>
                <span class="col-1"></span>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</div>
<!-- /.card -->
{% endblock %}

{% block scripts %}
{% endblock %}

