{% extends 'admin/admin_layout.html' %}
{% load static i18n %}

{% block stylesheets %}

{% endblock %}

{% block statistics %}
    active
{% endblock %}

{% block current_page %}
    {% trans 'Statistics' %}
{% endblock %}

{% block path %}
    <li class="breadcrumb-item active">
        {% trans 'Statistics' %}
    </li>
{% endblock %}

{% block content %}
    <div class="row m-5">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{ users | length }}</h3>
                    <p>{% trans 'Registered users' %}</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-plus"></i>
                </div>
                <a href="{% url 'admin:users' %}" class="small-box-footer">
                    {% trans 'More info' %}<i class="fas fa-arrow-circle-right ml-3"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="small-box bg-gradient-success">
                <div class="inner">
                    <h3>{{ active_users | length }}</h3>
                    <p>{% trans 'Active users' %}</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-check"></i>
                </div>
                <span class="small-box-footer">
                    {% trans 'Last login no more than 31 days ago' %}
                </span>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
